//link(rel='stylesheet', href='https://xpj.imagebei.com/hd/hd_dianzhichunguan/css/app.css')
.yhhd
    .hd-banner
    .hd-wbg
        .hd-wrap
            .hd-tit
            .hd-con
                div.hd-codt
                    p <b>活动对象：</b> <span>澳门新葡京所有会员</span>
                    p <b>活动时间：</b> <span>即日起（活动结束时间以官网通知为准）</span>
                    p <b>活动内容：</b> <span>澳门新葡京新老会员不论输赢，凡是在电子游戏中。每天最低达到500元有效投注，即可领取闯关礼金，超高奖赏，<em>通关抱回14409元大奖！</em></span>
                    p.hd-pcHid <b>申请方式：</b> <span>联系在线客服/专员申请</span>
                div.hd-conw
                    ul.hd-ulCon.hd-ucw1
                        li 关卡
                        li 第一关
                        li 第二关
                        li 第三关
                        li 第四关
                        li 第五关
                        li 第六关
                        li 第七关
                        li 第八关
                        li 第九关
                        li 第十关
                        li 第十一关
                    ul.hd-ulCon.hd-ucw2
                        li 每日有效投注额
                        li 500+
                        li 2000+
                        li 8000+
                        li 15000+
                        li 30000+
                        li 80000+
                        li 150000+
                        li 300000+
                        li 500000+
                        li 1000000+
                        li 50000000+
                    ul.hd-ulCon.hd-ucw3
                        li 可获奖金
                        li 9元
                        li 19元
                        li 29元
                        li 59元
                        li 99元
                        li 199元
                        li 399元
                        li 599元
                        li 999元
                        li 1999元
                        li 9999元
                    ul.hd-ulCon.hd-ucw4
                        li 累计可获奖金
                        li 9元
                        li 28元
                        li 57元
                        li 116元
                        li 215元
                        li 414元
                        li 813元
                        li 1412元
                        li 2411元
                        li 4410元
                        li 9999元
                    ul.hd-ulCon.hd-ucw5
                        li 申请方式
                        li 联<br>系<br>在<br>线<br>客<br>服<br>/<br>专<br>员<br>申<br>请
                    ul.hd-ulCon.hd-ucw6
                        li 提款要求
                        li 一<br>倍<br>流<br>水<br>即<br>可<br>出<br>款
                div.hd-crem
                    p 注：每关彩金只可申请一次，通关可获得全部十关奖金，累计奖金14409元。
                    p 例：会员累积有效投注额达到8000+（第三关）即可获得累计奖金9+19+29=57元，以此类推。
            .hd-tit01
            .hd-con01
                ul.hd-gz
                    li 当日有效投注额达到活动条件者即可联系在线客服或者专员进行申请，最晚次日24点前申请，逾期作废;
                    li 所获奖金1倍流水出款；
                    li 所有因任何因素被取消之注单，或中奖后彩金加码游戏所产生这单号，均不计算范围之内；
                    li 每们会员，每一相同IP，每一电话号码，相同支付方式（借记卡/信用卡/银行账户）及共享计算机环境（如网管，其他公用计算机等）只能享受一次优惠；若会员有重复申请优惠行为，公司将保留取消或收回会员优惠奖金的权利；
                    li 澳门新葡京的所有优惠为玩家而设，如发现任何团体或个人，以不诚实方式套取红利，公司交保留或冻结该团体或个人账户结余的权利；
                    li 为避免文字差异，澳门新葡京保留最终解释权。
