@media only screen and (max-width:1024px)
    html
        font-size 70px

    .yhhd
        .hd-wrap
            padding 0 .2rem
@media only screen and (max-width:480px)
    html
        font-size 50px
    body
        overflow-x hidden
    .yhhd
        font-size .28rem
        .hd-banner
            height 7.7rem
            background url('../img/sj_banner.jpg') no-repeat center top /100%
            .hd-tit
                line-height .5rem
                .logo
                    width 100%
                    background-size 2.8rem
                .tit-right
                    width 100%
                    padding .2rem .1rem

        .hd-wrap
            width 100%
            padding 0 .2rem
            .hd-box
                .hd-item
                    width 31%
                    margin-bottom .4rem
            .photo
                width 100%
                padding-top 5.4rem
                .shop
                    .shop-item
                        width 4.4rem
                        height 1.6rem
                        background-size 1.4rem
                        padding-left 2rem
                        p
                            font-size .3rem


        h1
            line-height .5rem
            padding .1rem 0 .8rem
            span
                font-size .38rem
                line-height .8rem
                background-size 3rem
            b
                font-size .38rem
                margin .5rem 0 .4rem
