//link(rel='stylesheet', href='https://xpj.imagebei.com/hd/hd_baijialelianying/css/app.css')
.yhhd
    .hd-banner
         div.hd-but(onclick="goSign()")  立即参与
    .hd-wbg
        .hd-wrap
            .hd-tit 活动介绍
            hr.hd-hr
            .hd-con
                div.hd-codt
                    p <b>活动对象：</b> <span>澳门新葡京所有会员</span>
                    p <b>活动时间：</b> <span>即日起</span>
                    p <b>活动内容：</b> <span>即日起，凡是在澳门新葡京进行百家乐游戏，投注（庄、闲）连赢5局或以上（不包括和局），即可获得连赢彩金最高可达9999元，邀您共享狂欢！</span>
                div.hd-conw
                    ul.hd-ulCon.hd-ucw1
                        li 连赢局数
                        li 5局连赢
                        li 6局连赢
                        li 7局连赢
                        li 8局连赢
                        li 9局连赢
                        li 10局连赢
                        li 15局连赢
                        li 20局连赢
                        li 30局连赢
                    ul.hd-ulCon.hd-ucw2
                        li 投注金额
                        li 每注至少100元
                        li 每注至少200元
                        li 每注至少300元
                        li 每注至少500元
                        li 每注至少800元
                        li 每注至少1000元
                        li 每注至少1500元
                        li 每注至少2000元
                        li 每注至少3000元
                    ul.hd-ulCon.hd-ucw3
                        li 可获得彩金
                        li 29元
                        li 59元
                        li 99元
                        li 199元
                        li 399元
                        li 599元
                        li 999元
                        li 1999元
                        li 9999元
                    ul.hd-ulCon.hd-ucw4
                        li 提款要求
                        li 三<br>倍<br>流<br>水<br>即<br>可<br>出<br>款
            .hd-tit 活动规则
            hr.hd-hr
            .hd-con01
                ul.hd-gz
                    li 会员在活动日期内，单局投注金额100元以上，连赢局数5局以上，即可联系在线客服或者专员提供详细信息进行申请，最高可以享受9999元;
                    li 投注大小、单双、和局、龙宝、保险、均不计算在内，注单只限当日有效，每位会员每天仅限申请一次;
                    li 会员连赢不需要连续的牌局，但是必须是会员由第一手投注起计算24小时内的连赢投注，如参加活动过程中有退回本金或才登出的情况，连赢局数将重新计算;
                    li 每位玩家只能享有一次优惠，若有玩家重复申请账号行为，澳门新葡京有保留取消或收回会员优惠彩金的权利;
                    li 为避免文字理解差异，澳门新葡京将保留对此活动最终解释权。
    script.
        function goSign() {
            if(location.href.indexOf('file://')<0){
                if ((navigator.userAgent.match(/(phone|pad|pod|iPhone|iPod|ios|iPad|Android|Mobile|BlackBerry|IEMobile|MQQBrowser|JUC|Fennec|wOSBrowser|BrowserNG|WebOS|Symbian|Windows Phone)/i))) {
                    top.location.href = '/m/index.html#/service_online';
                } else {
                    window.open('https://e-136970.chatnow.meiqia.com/dist/standalone.html');
                }
            }else {
                comHead('在线客服','kefu');
            }
        }