link(rel='stylesheet', href='https://xpj.imagebei.com/hd/hd_hby/css/app.css?v=20190202')
.yhhd#yhhd-hby
    ul.hdHby#hd_hdHby
    .hd-banner
        .hd-wrap
            .hd-tl
                .hd-ren
            .hd-tr 
                .hd-tit 
                    h2 活动介绍
                    b
                .hd-rem 澳门新葡京每天百万现金红包雨回馈全网新老会员，即日起，当日存款会员，次日15：00-18：00即可抢红包！笔笔红包大额度，单个红包最高额度999元，先抢一个亿~在规定的时间内未领取.将视为自动放弃。
                .hd-tcn 活动对象：澳门新葡京全球会员
                .hd-tcn 活动时间：即日起-2019年3月1日
                .hd-butLogin#hd-butLogin 请先登入
            .hd-clear
    .hd-wbg
        ul.hd-ftit#hd-ftit
            li.hd-cur#hd-fli1 派奖记录
            li#hd-fli2 详细规则
        .hd-wrap.hd-hid#hd-rule
            ul.hd-gz
                li 本活动当日有效会员皆可参与，所获奖金完成1倍投注即可取款；
                li 本活动当日存款，次日15:00-18:00开抢，逾期视为放弃，不予补偿；
                li 本活动同账号、同姓名、同电话、同IP会员每月只能获得一次领取奖金机会，对于涉嫌套取本活动优惠奖金会员，网站有权不予发放；
                li 本活动获得的奖金不可以投注以下游戏：桌面卡牌游戏、视频扑克、轮盘、Pontoon游戏、各种花旗骰游戏、赌场战争游戏、娱乐场、Hold’em游戏、牌九游戏；
                li 电子游戏的以下类型游戏不计算为有效投注额，包括各种桌面卡牌游戏、视频扑克、轮盘、Pontoon游戏、各种Craps游戏、赌场战争游戏、娱乐场Hold’em游戏、牌九游戏；
                li 本活动不与网站其它优惠冲突；
                li 澳门新葡京保留在任何时候终止或修改本活动规则及内容，最终解释权归澳门新葡京所有。

        .hd-wrap.hd-mw#hd-record
//script(src='https://xpj.imagebei.com/hd/hd_hby/js/index.js?v=20190202')
script(src='../js/index.js?v=20190202')