@charset "UTF-8"
html {
    font-size: 13.33vw;
    height: 100%;
    padding: 0
    margin: 0
}
* {
    padding: 0
    margin: 0
}
.yhhd
    max-width 100%
    margin 0 auto 0
    background #f8d69f
    .hd-banner
        width 100%
        background url("../img/banner.jpg") center center no-repeat 
        padding-top 25%
        padding-bottom 8.4%
        background-size cover
        height 0
        font-size 0.24rem
        position relative
    .hd-bf
        text-align: center
        color #970000
        font-size: 0.24rem
    .hd-wbg
        background url("../img/footbg.jpg") center top no-repeat #f8d69f
        background-size 100% auto
        width 100%
        padding-bottom 0.5rem
    .hd-wrap
        width 1200px
        margin 0rem auto
        position relative
        padding-top 0.5rem
    .hd-tit
        font-size: 0.3rem
        text-align: center
        width 4rem
        height 1rem
        color #ffffff
        margin 0px auto
        position relative
        z-index 1
        background url("../img/tit.png") center bottom no-repeat 
        background-size contain
        padding-top 0.18rem
        padding-left 0.3rem
    .hd-codt
        font-size 0.2rem
        color #b74716
        line-height 0.44rem
        padding-bottom 0.2rem
        padding-left 0.2rem
        b
            color #e90000
    .hd-con
        padding 1rem 0.3rem 0.8rem
        background #f8d69f
        margin-bottom 1rem
        margin-top -0.8rem
        overflow hidden
        border-radius 0.2rem
        z-index 0
        position relative
    .hd-conw
        border-left 1px #a90406 solid
        border-right 1px #a90406 solid
        border-bottom 1px #a90406 solid
        overflow hidden
    .hd-ulCon
        width 25%
        float left
        overflow hidden
        color #c7b093
        li
            list-style none
            text-align center
            line-height 0.55rem
            font-size: 0.2rem 
            border-right 1px #e83638 solid
            border-top 1px #e83638 solid
            color #970000
            &:first-child
                background #a90406
                color #ffffff
                font-weight bold
    .hd-ucw3
        li
            &:nth-child(2)
                line-height 0.36rem
                padding 1rem 0 1.15rem
    .hd-ucw4
        li
            border-right none
            &:nth-child(2)
                line-height 0.36rem
                padding 1rem 0 0px
    .hd-gz
        width 94%
        margin: 0rem auto
        li
            list-style circle
            color #bc5426
            font-size: 0.2rem
            line-height: 0.36rem
            list-style-type decimal
            padding-bottom: 0.08rem
@import "mob"

