@media screen and (min-width: 750px) {
    html {
        font-size: 100px;
    }
}
@media screen and (max-width: 1300px) and (min-width: 761px)
    .yhhd
        .hd-wrap
            width 90%
        .hd-con
            margin-bottom: 0.5rem
            padding: 0.8rem .3rem 0.5rem
        .hd-cm
            background #a70402
        .hd-gz 
            li
                color: #f8d69f;
@media screen and (max-width: 760px) and (min-width: 0px)
    .yhhd
        .hd-banner
            padding-top: 50%;
            padding-bottom: 17%;
            background url("../img/banner.jpg") -4.4rem center no-repeat 
            background-size cover
        .hd-wrap
            width 96%
        .hd-con
            margin-bottom: 0.5rem
            padding: 0.8rem .3rem 0.5rem
        .hd-cm
            background #a70402
        .hd-gz 
            li
                color: #f8d69f;