link(rel='stylesheet', href='https://xpj.imagebei.com/hd/hd_zzdfs/css/app.css')
.yhhd
    .hd-banner
    .hd-wbg
        .hd-wrap
            .hd-tit 活动介绍
            .hd-con
                div.hd-conw
                    ul.hd-ulCon.hd-ucw1
                        li 周总存款金额                                                               
                        li 5000+
                        li 10000+
                        li 30000+
                        li 50000+
                    ul.hd-ulCon.hd-ucw2
                        li 周有效投注额
                        li 100000+
                        li 200000+
                        li 500000+
                        li 10000000+
                    ul.hd-ulCon.hd-ucw3
                        li 赠送金额
                        li ￥99
                        li ￥199
                        li ￥399
                        li ￥999
                    ul.hd-ulCon.hd-ucw4
                        li 流水限制
                        li 无<br>需<br>流<br>水
            .hd-tit 优惠进度
            .hd-con
                div.hd-conw#hd-deposit  请先登入查看进度                                                            
                div.hd-but#hd-but 立即领取
            .hd-tit 活动规则
            .hd-con
                ul.hd-gz
                    li 一周内任意5天存款及有效投注额达标即可点击：立即领取，若有任意一天未达到要求，则无法点击。
                    li 周签到计算时间为北京时间每周一00：00至每周日23：59，系统派发为次周一18:00之前，系统自动派发。
                    li 奖金无需流水可提款。
                    li 活动达标的会员请在本周达标后，点击立即领取，如：您周五达标，请在周五至周末的23:59之前申请领取，过期将不予补发。
                    li 存款不限方式，有效投注额以太阳城系统统计为准。
                    li 为避免文字差异，澳门新葡京保留最终解释权。
//script(src='https://xpj.imagebei.com/hd/hd_zzdfs/js/index.js?v52')
script(src='../js/index.js?v52')