@charset "UTF-8"
html {
    font-size: 13.33vw;
    height: 100%;
    padding: 0
    margin: 0
}
* {
    padding: 0
    margin: 0
}
.yhhd
    max-width 100%
    margin 0 auto 0
    background url("../img/bg.png") center center repeat  #ffdcab
    overflow: hidden
    position relative
    padding-bottom 0.5rem
    z-index 0
    .hd-m1
        background url("../img/m1.png") left top no-repeat
        background-size contain
        width 14%
        height 1.8rem
        position: absolute
        left 20%
        top 34%
        z-index 4
    .hd-m2
        background url("../img/m2.png") left top no-repeat
        background-size contain
        width 11%
        height 1.8rem
        position: absolute
        right 18%
        top 34%
        z-index 4
    .hd-m3
        display: none
    .hd-m4  
        background url("../img/m4.png") left top no-repeat
        background-size contain
        width 6%
        height 80px
        position: absolute
        right 13%
        bottom 0.2rem
        z-index 4
    .hd-banner
        width 100%
        background url("../img/banner.jpg") center center no-repeat 
        background-size cover
        height 0
        padding-top 30%
        padding-bottom 11%
        position relative
    .hd-bcon
        background #ffdcab
        width 24%
        margin: 0 auto
        text-align center
        padding 2px
        b
            display: block
            line-height: 0.4rem
            font-size 0.18rem
            color #e5000e
            margin: 0px auto
            border 1px solid #ffffff
    .hd-wrap
        width 64%
        background #b60000
        margin: 0.5rem auto 0
        padding 0.3rem 1.6rem
        overflow hidden
        position relative
        z-index 3
       .hd-hr
            width 82%
            margin 0px auto 0.3rem
            border:1px solid #dd755b
        .hd-ttl
            background url("../img/ttl.png") left top no-repeat
            background-size 100% auto
            width 10%
            height 60px
            position: absolute
            left 1px
            top 1px
        .hd-ttr
            background url("../img/ttr.png") left top no-repeat
            background-size 100% auto
            width 10%
            height 60px
            position: absolute
            right 1px
            top 1px
        .hd-tbl
            background url("../img/tbl.png") right bottom no-repeat
            background-size 100% auto
            width 10%
            height 60px
            position: absolute
            left 1px
            bottom 1px
        .hd-tbr
            background url("../img/tbr.png") right bottom no-repeat
            background-size 100% auto
            width 10%
            height 60px
            position: absolute
            right 1px
            bottom 1px
       .hd-wtit
            color #ffcf90
            font-size: 0.26rem
            text-align: center
            margin-bottom 0.3rem
            margin-top 0.3rem

    .hd-conw
        overflow hidden
        background #ffdcb1
        margin-bottom 0.2rem
    .hd-ulCon
        width 33%
        float left
        overflow hidden
        color #bf3930
        background #ffdcb1
        li
            list-style none
            text-align center
            line-height 0.7rem
            font-size: 0.2rem 
            border-right 1px #c03a31 solid
            border-top 1px #c03a31 solid
            &:first-child
                font-weight bold
    .hd-ucw3
        width 34%
        li
            border-right none
            &:nth-child(2)
                line-height 0.36rem
                padding 1.7rem 0 0px
    .hd-rlue
        margin 0px auto 0.5rem
        li
            list-style decimal
            font-size: 0.2rem
            padding-bottom 0.1rem
            color #ffdcb1
@import "mob"

