@media screen and (min-width: 750px) {
    html {
        font-size: 100px;
    }
}
@media screen and (max-width: 1200px) and (min-width: 761px)
    .yhhd
        .hd-banner
            padding-top 37%
            padding-bottom 13%
        .hd-bcon
            width 40%
        .hd-wrap
            width: 80%;
            margin: .2rem auto 0;
            padding: .3rem 1rem;
        .hd-m1
            top 20%
            left 3%
        .hd-m2
            right 2%
            top 22%
        .hd-m3
            left 12%
            top 50%
        .hd-m4  
            right 13%
            bottom 0.2rem
@media screen and (max-width: 761px) and (min-width: 0px)
    .yhhd
        .hd-banner
            padding-top 48%
            padding-bottom 18%
        .hd-bcon
            width 60%
        .hd-wrap
            width: 80%;
            margin: .2rem auto 0;
            padding: .3rem 10%
        .hd-hr
                width 100%
        .hd-wtit
            line-height: 0.4rem
        .hd-m1
            top 21%
            left 3%
        .hd-m2
            right 2%
            top 23%
        .hd-m3
            left 12%
            top 50%
        .hd-m4  
            right 5%
            bottom -0.1rem