link(rel='stylesheet', href='https://xpj.imagebei.com/hd/hd_xnkh/css/app.css')
.yhhd
    .hd-banner
        .hd-bf 活动时间：2019年2月1号—2月28号
    .hd-wbg
        .hd-wrap
            .hd-tit 活动介绍
            .hd-con
                div.hd-codt 辞旧岁、贺新春，新葡京回馈广大会员，特惠每日首存礼金，存得多，送得多，<b>最高赠送1999</b>。
                div.hd-conw
                    ul.hd-ulCon.hd-ucw1
                        li 存款金额                                                         
                        li 99+
                        li 199+
                        li 399+
                        li 599+
                        li 999+
                        li 1999+
                        li 5999+
                        li 9999+
                        li 99999+
                    ul.hd-ulCon.hd-ucw2
                        li 赠送金额
                        li ￥19
                        li ￥39
                        li ￥59
                        li ￥99
                        li ￥199
                        li ￥299
                        li ￥599
                        li ￥999
                        li ￥1999
                    ul.hd-ulCon.hd-ucw3
                        li 流水要求
                        li 五<br>倍<br>流<br>水<br>即<br>可<br>提<br>款
                    ul.hd-ulCon.hd-ucw4
                        li 游戏平台
                        li 联<br>系<br>在<br>线<br>客<br>服<br>申<br>请
            .hd-tit 活动规则
            .hd-con.hd-cm
                ul.hd-gz
                    li 会员成功完成每日首次存款后，联系24小时在线客服或微信专员申请赠送相应的彩金。
                    li 每位玩家、同地址、同一电子邮箱地址、同一电话号码、相同支付方式(相同借记卡/信用卡/银行账户)及IP地址只能享有一次优惠；若会员有重复申请账号行为，公司保留取消或收回会员优惠彩金的权利。
                    li 本站的所有优惠特为玩家而设，如发现任何团队或个人，以不诚实方式套取红利或任何威胁、滥用公司优惠等行为，公司保留冻结、取消该团队或个人账户及账户结余的权利。
                    li 若会员对活动有争议时，为保留双方利益，杜绝身份盗用行为，本站有权要求会员向我们提供充足有效的证件，用以确认是否享有该优惠的资质。
                    li 本站保留对活动的最终解释权归；以及在无通知的情况下修改、终止活动的权利；适用于所有的优惠。