@media screen and (min-width: 750px) {
    html {
        font-size: 100px;
    }
}

@media screen and (max-width: 1550px) and (min-width: 1351px)
    .yhhd
        .hd-banner
            padding-top 34%
            padding-bottom 12%
@media screen and (max-width: 1350px) and (min-width: 1201px)
    .yhhd
        .hd-banner
            padding-top 34%
            padding-bottom 12%
        .hd-wrap
            width 80%
@media screen and (max-width: 1200px) and (min-width: 761px)
    .yhhd
        .hd-banner
            padding-top 38%
            padding-bottom 16%
        .hd-wrap
            width 80%
        .hd-clis3
            margin 0rem auto
            li
                width 23%
                margin-left 1.5%

@media screen and (max-width: 760px) and (min-width: 0px)
    .yhhd
        .hd-banner
            padding-top 58%
            padding-bottom 20%
            background: url(../img/banner.jpg) -3.4rem center no-repeat
        .hd-wrap
            width 90%
            margin: 0 auto 0.5rem
            padding 0px
            border: none
        .hd-hr
            margin: .4rem auto .3rem;
        .hd-tit
            background-size 140% auto
            i
                width 15%
                height 2.5rem
                display: block
                position absolute
                top -0.9rem
                left -0.4rem
        .hd-con1
            font-size 0.24rem
            padding 0.3rem
        .hd-con2
            padding-top 0.3rem
        .hd-clis3
            margin 0rem auto
            li
                border 1px solid #318dce
                font-size: 0.2rem
                width 47%
                margin-left 4%
                color #318dce
                padding-bottom 0.2rem
                margin-top 0.5rem
                &:nth-child(2n+1)
                    margin-left 0%
                &:nth-child(3)
                    margin-right 0%
                &:nth-child(4)
                    margin-left 4%
        .hd-ruleList
            li
                margin-left 0.2rem
        .hd-circleD
            width 1.8rem
            height 1.8rem
            border-radius 0.9rem
            padding: 0.1rem
        .hd-circleS
            width: 1.6rem;
            height: 1.6rem;
            border-radius: .8rem;
            p
                padding-top: .4rem;
                font-size: 0.3rem
                text-align: center
                b
                    font-size: 0.5rem   