@media screen and (min-width: 750px) {
    html {
        font-size: 100px;
    }
}
@media screen and (max-width: 1300px) and (min-width: 761px)
    .yhhd
        .hd-wrap
            width 90%
        .hd-banner
            padding-top 24%
            padding-bottom 14%
        .hd-but
            width 17%
            margin-right 20%
@media screen and (max-width: 761px) and (min-width: 0px)
    .yhhd
        .hd-banner
            padding-top 40%
            padding-bottom 18%
        .hd-wbg
            padding-top 0px
        .hd-wrap
            width 100%
            margin-top -1px
        .hd-tit
            line-height 0.6rem
        .hd-pcHid
            display block
        .hd-con
            padding 0.3rem 0
        .hd-codt
            width 96%
            margin-left 2%
            p
                b
                    max-width 20%
                span
                    max-width 80%
        .hd-ucw1
            width 16%
        .hd-ucw2
            width 27%
        .hd-ucw3
            width 16%
            li
                color #db1515
        .hd-ucw4
            width 25%
            li
                color #db1515
        .hd-ucw5
            width 16%
            li
                border-right none
                &:nth-child(2) 
                    line-height: .34rem;
        .hd-ucw6
            display: none 
        .hd-crem
            padding 0.25rem 0.1rem 0.1rem
            font-size 0.2rem
            line-height 0.46rem
        .hd-hr
            border: #ffd031 1px solid;
            .hd-con
                padding 0rem
            .hd-codt
                padding 0.1rem 0.15rem
                font-size 0.24rem
        .hd-con01
            padding 0.3rem 0.1rem
        .hd-gz
            width 88%