@charset "UTF-8"
html
    font-size 100px
body
    margin 0
    font-family -apple-system, BlinkMacSystemFont, "PingFang SC","Helvetica Neue",STHeiti,"Microsoft Yahei",Tahoma,Simsun,sans-serif;


$c1=#19191b
$c2=#d9a53f
$c3=#cf7c27
$c4=#efcd86
$c5=#efcd86


.yhhd
    font-size .18rem
    max-width 19.2rem
    overflow-x hidden
    margin 0 auto
    line-height 1.4
    background #1d0107 url('../img/pc_bg.jpg') repeat-y center 6.2rem /100%
    padding 0 0 .2rem 0
    color $c5
    *
        box-sizing border-box
        margin 0
    .hd-banner
        height 6.2rem
        background #1d0107 url("../img/pc_banner.jpg") no-repeat center top/19.2rem
    .hd-wrap
        max-width 12rem
        margin 0 auto
        color #bf854a
        font-size .24rem
        padding-top .8rem
        .hd-tit
            text-align left
            font-size .18rem
            padding .6rem .4rem .4rem
            color $c5
            background $c1
            margin-bottom 1rem
            border 2px solid $c2
            border-radius .2rem
            position relative
            &:nth-of-type(2)
                margin-bottom .4rem
            p
                line-height .36rem
                &:after
                    display block
                    clear both
                    content ""
                    visibility hidden
                    height 0

            table
                color $c4
                width 100%
                text-align center
                border-color $c4
                margin .2rem 0
                font-size .2rem
                border-collapse　collapse
                td
                    padding .1rem .2rem
            .last
                color $c2
                font-size .22rem
            .left
                width .5rem
                display block
                float left
            .right
                width 90%
                line-height .36rem
                display block
                float left
        ul　
            li
                list-style-type none
                line-height .4rem

        h1
            width 3rem
            line-height .5rem
            text-align center
            position absolute
            left 50%
            top -.26rem
            margin-left -1.5rem
            border-radius .1rem
            background $c1
            font-size .28rem
            color $c2
            border 2px solid $c2
@import "mob"

