@media only screen and (max-width:1024px)
    html
        font-size 70px

    .yhhd
        .hd-wrap
            padding 0 .2rem
@media only screen and (max-width:480px)
    html
        font-size 50px
    body
        overflow-x hidden
    .yhhd
        font-size .24rem
        padding 0 0 .3rem 0
        background-image url('../img/sj_bg.jpg')
        background-position center 4.6rem
        .hd-banner
            height 4.7rem
            background url('../img/sj_banner.jpg') no-repeat center top /cover
        .hd-wrap
            width 100%
            padding .8rem .1rem 0
            .hd-tit
                font-size .26rem
                padding .6rem .2rem .4rem
                margin-bottom 1rem
                p
                    line-height .48rem
                .last
                    font-size .32rem
                .left
                    width .74rem
                .right
                    width 86%
                    text-indent 0
                    line-height .48rem
                table
                    font-size .28rem

            h1
                font-size .4rem
                line-height .6rem
                top -.34rem

