link(rel='stylesheet', href='https://xpj.imagebei.com/hd/hd_game/css/app.css?v12')
.yhhd
    .hd-banner
    .hd-wrap

        .hd-tit
            h1 活动内容
            p 全网电子游戏最佳投注平台，次存50%狂享优惠，丰厚彩金等您来拿！
            p
                span 凡注册会员，第二次存款100元以上即可最高申请50%电子游戏首存彩金，最高可申请
                span.last 377元
                span ，达到最低有效投注额即可提交出款申请，爆大奖更刺激！
            table(border="1" cellpadding="0" cellspacing="0")
                tr
                    td 类别
                    td 存款金额
                    td 狂享优惠
                    td 最低有效投注额
                    td 最高红利上限
                tr
                    td 次存
                    td 100＋
                    td 50％
                    td (本金+优惠）*7
                    td 177
                tr
                    td 三存
                    td 100＋
                    td 50％
                    td (本金+优惠）*12
                    td 377
            p 例：如第三次存款1000元，赠送377元，需达到流水（1000+377）*12
            p.last 申请方式：存款成功后找在线客服或微信专员领取即可


        .hd-tit
            h1 优惠规则

            p
                span.left NO.1
                span.right 电子游戏中所有桌面游戏和捕鱼游戏、宝石之轮、星尘、美丽骷髅、东方珍兽、比基尼派对、躲猫猫、城堡建筑师、不朽的浪漫、秘境冒险、运财酷儿、古怪猴子、守财奴、小气财神、舞龙、抓鬼躲猫猫、宝石转轴、酷巴克、圣诞乐村、失落的国度、钻石浮华、黄金之旅、凤凰、高速公路之王、经典老虎机等游戏不参与此活动。
            p
                span.left NO.2
                span.right 该优惠仅限在电子游戏平台使用，如会员用于其他平台，本站有权扣除派送奖金及期间产生的盈利，该优惠不与其他存款优惠共享（快速入款1%除外），
            p
                span.left NO.3
                span.right 一个会员账号、一台电脑、一个地址与IP只限领取一次优惠~无论是个人或团体（同IP多账户的会员不符合申请要求），如有任何威胁，滥用或使用不诚实方式套利的行为，经系统审核，公司有权取消该会员申请资格。

