//link(rel='stylesheet', href='https://xpj.imagebei.com/hd/hd_tiantianjiuyuanjin/css/app.css')
.yhhd
    .hd-banner
    .hd-wbg
        .hd-wrap
           .hd-tit 
                b 活动介绍
           .hd-rem 每天投注电子游戏且日负盈利达到指定门槛，即可申请相应电子救援金，最高救援无上限哟，助您卷土重来。
           .hd-tabw
                .hd-tl-1
                    h2 会员星级
                    p 1
                    p.hd-bgd 2
                    p 3
                    p.hd-bgd 4
                    p 5
                .hd-tl-2
                    h2 申请门槛
                    div 存款100元<br>负盈利10元<br>及以上
                .hd-tl-3
                    h2 复活金比例
                    p 8%
                    p.hd-bgd 10%
                    p 12%
                    p.hd-bgd 16%
                    p 18%
                .hd-tl-4
                    h2 上限金额
                    div 无上限
           .hd-tit 
                b 活动规则 
            ul.hd-ruleList
                li 凡澳门新葡京新老会员当日负利额10+，次日24点前联系在线客服或专员申请，2小时内到账，最高申请无上限，逾期作废;
                li 本活动仅限电子游戏，其他平台游戏无法享有本优惠;
                li 每位玩家、每一住址、每一邮箱地址、每一电话号码、相同支付方式(相同借记卡/信用卡/银行账户姓名及号码) 及IP地址，除优惠特别说明外，系统视为一人，同一优惠每人仅限享受一次；
                li 特惠游戏定义: 桌面游戏、牌类游戏、视频扑克、刮刮卡游戏，多旋转老虎机，及返奖率98.5%以上的老虎机游戏，为特惠游戏，特惠游戏不计算有效投注额，不享受本优惠；
                li 我们不接受任何机器投注或通过恶意掉线、多窗口投注游戏等非法套取优惠行为，一经发现，取款时将扣回优惠和盈利部分，情节严重者 会暂时或永久性取消或封锁其账户;由于文字可能会存在歧义或其他可能会误解的情况，网站可在任何时候终止或修改所有活动规则及内容；
                li 为避免文字差异，澳门新葡京保留对本活动的最终解释权；以及在无通知的情况下修改、终止活动的权利。
