link(rel='stylesheet', href='https://xpj.imagebei.com/hd/hd_xingqiliu/css/app.css')
.yhhd
    .hd-banner
    .hd-wbg
        .hd-wrap
            .hd-tit 活动介绍
            hr.hd-hr
            .hd-con
                div.hd-codt
                    p <b>活动对象：</b> <span>X999新葡京所有会员
                    p <b>活动时间：</b> <span>即日起
                    p <b>活动内容：</b> <span>为回馈老客户对本站一如既往的支持；特推出充100送200超级优惠。<br><em>每周六存款一笔100元；即可向微信客服领取200元赠送金！流水达到9999即可全部出款。</em><br>本优惠仅限每周六参加一次。</span>
                    p 注：同IP同手机同姓名每周只能参与一次。发现重复注册套利者一律不予赠送。
            .hd-tit 活动规则
            hr.hd-hr
            .hd-con01
                ul.hd-gz
                    li 本活动只适用于周六，限申请一次，会员存款后即可联系微信专员申请，最晚截止当天24点；请在周六24点前申请；本活动不累计，过期将不予发放;
                    li 如发现任何人/团体组织以不诚实方式合伙套取红利或其它利益，本站将保留冻结账户及账户金额的权利;
                    li 此活动不予首存活动共享，不参与返水;
                    li 澳门新葡京保留对本次活动的修改、订正和最终解释权。