.is_mob
    .bg
        background  url('../img/sj_banner.jpg') no-repeat center top / 100% 28rem
        padding-top .4rem
        ul.inp
            b
                display none
            li
                padding 0 .05rem .2rem .05rem
                &::before
                    content ''
                    position absolute
                    width .5rem
                    height .5rem
                    background url("../img/user.svg") no-repeat center/contain
                    top .24rem
                    left .2rem
                &:nth-child(2)::before
                    background-image url("../img/lock.svg")
                &:nth-child(3)::before
                    background-image url("../img/phone.svg")
                &:nth-child(4)::before
                    background-image url("../img/phone-code.svg")
                input
                    height 1rem
                    font-size .36rem
                    text-indent .78rem
                .btn
                img
                    height 1rem
                    line-height 1rem
                    font-size .34rem

        .hd-btn
            height 1rem
            line-height 1rem
            font-size .4rem
            margin .2rem .05rem
        .tips
            font-size .3rem
        .xp
            margin 0
            padding .1rem .6rem
            width 100%
            padding-top 0
            .reg
                box-shadow 0 0 0 0
                margin 0
                h1
                    font-size .6rem
                    color #fff
                .first
                    display block
                    height 1.6rem
                    color #fff

                p
                    padding .1rem .4rem
                    color #f5f5f5
                    span
                        font-size .4rem !important
                    a
                        font-size .4rem !important
                    i
                        font-size .4rem !important
                a.hd-btn1
                    display none
                .left
                    .hd-logo
                        display none
                    h2
                        font-size .6rem
                        text-align center
                        background url("../img/line.png?v=2019182054") no-repeat center/contain
                        margin .6rem 0 .6rem 0
                        color #fff
                        &::after
                        &::before
                            content ''
                            position absolute
                            width .3rem
                            height .3rem
                    .hd-btn
                        height 2rem
                        background url('../img/sj_btn.png?v=2019182054') no-repeat center /100% 100%
                        color #ffffff00
                        margin .3rem 0
                        border 0

        .net
            font-size .34rem
            .net-item
                width 2.52rem
                margin-top .7rem
                background-size 3rem 2rem
                padding-top 2.2rem
                font-size .34rem
                p
                    padding 0 .1rem
                    font-size .32rem
        .bg-cont1
            height 1.3rem
        .bg-cont2
            padding-bottom .6rem
            .content
                width 100%
                .act
                    border none
                    padding .4rem 0
                    margin-top .6rem
                    h1
                        width 6rem
                        margin-left -3rem
                        font-size .6rem !important
                        top -.6rem
                    .act-item
                        height 4rem
                        background-size 3rem 4rem
                        padding-top .5rem
                        background url('../img/money.png?v=2019182054') no-repeat .3rem .4rem / 3rem 3.5rem
                        p
                            width 1.7rem
                            margin-left .8rem
                            padding-top .2rem
                            font-size .32rem
                            line-height .38rem

                        h3
                            font-size .4rem
                        h2
                            font-size .5rem
                            display none
                        h4
                            font-size .34rem
                            width 2.6rem
                            bottom .6rem
                .act
                    &:nth-of-type(2)
                        width auto
                        margin 0 .4rem
                        border 1px solid #b59263
                    h1
                        width 4rem
                        margin-left -2rem
                    .act-line
                        width 100%

                        .act-check
                            width 100%
                            font-size .5rem
                            line-height .8rem
                            background-size .4rem .4rem
                            background-position 1.2rem center
                    .act-box
                        padding-left .8rem
                        margin-top .6rem
                        .act-btn
                            width 2rem
                            height 1.2rem
                            font-size .34rem
                            line-height .8rem
                            margin-right .6rem
                            &:nth-of-type(4)
                                margin-left 1.3rem
                .account
                    width auto
                    margin 1rem .4rem .6rem .4rem

                    .tit
                        width 1rem
                        height 1.5rem
                        font-size .3rem
                        padding-top .16rem
                    h1
                        width 5rem
                        margin-left -2.5rem
                        font-size .6rem
                        top -.48rem
                    .account-l
                        display none
                    .account-r
                        margin 0 .4rem
                        padding-top 1rem


                .btn-big
                    margin 0 .4rem
                    border-radius 0
                    line-height 1rem
                    font-size .36rem
                .logo-bottom
                    display block
                    height 1.6rem
                    margin-top .7rem







