@charset "UTF-8"
html {
    font-size: 13.33vw;
    height: 100%;
    padding: 0
    margin: 0
}
* {
    padding: 0
    margin: 0
}
.yhhd
    max-width 100%
    margin 0 auto 0
    background #0c0808
    padding-bottom 0.5rem
    .hd-banner
        width 100%
        background url("../img/banner.jpg") center center no-repeat 
        background-size cover
        height 0
        padding-top 20%
        padding-bottom 20%
        font-size 0.24rem
        position relative
    .hd-wbg
       background url("../img/footer.jpg") center top no-repeat #0c0808
       padding-bottom 0.4rem
       padding-top 0.6rem
    .hd-wrap
        width 1200px
        margin 0rem auto 0
        position relative
    .hd-con
        padding 1rem 0.3rem 0.3rem 0.3rem
        margin-bottom 1.3rem
    .hd-codt
        padding 0.1rem 0
        font-size 0.2rem
        color #d1c27e
        p
            padding-bottom 0.1rem
            overflow hidden
            width 100%
            b
                float left
                max-width 15%
            span
                float left
                max-width 85%
            em
                font-style normal
                color #ff6215
    .hd-tit
        width 1200px
        overflow hidden
    .hd-titl
       width 4rem
       float left
       height 0.05rem
       margin-top 0.35rem
       margin-bottom 0.35rem
       margin-right 0.35rem
       background: linear-gradient(#fffbbc, #ffd168)
    .hd-titm
        width 3rem
        background url("../img/tit.png") center top no-repeat
        background-size 100% 100%
        margin 0rem auto -0.4rem
        position relative
        z-index 10
        line-height: 0.7rem 
        font-size: 0.36rem
        color #1c1c1c
        text-align: center
        float left
    .hd-titr
        width  4rem
        float right
        height 0.05rem
        margin-top 0.35rem
        margin-bottom 0.35rem
        background: linear-gradient(#fffbbc, #ffd168)
    .hd-conw
        border-left 1px #ffd068 solid
        border-right 1px #ffd068 solid
        border-bottom 1px #ffd068 solid
        border-top 1px #ffd068 solid
        overflow hidden
    .hd-ulCon
        width 14%
        float left
        overflow hidden
        color #c7b093
        li
            list-style none
            text-align center
            line-height 0.7rem
            font-size: 0.2rem 
            border-right 1px #79693d solid
            border-top 1px #79693d solid
            color #ffd068
            background rgba(255,255,255,0.2)
            &:first-child
                border-top none
    .hd-ucw1
        width 15%
        li
            background #ffd068
            color #1f1f1f
    .hd-ucw7
        width 15%
        li
            border-right none            
    .hd-crem
        padding 0.1rem 0
        color #62553a
        font-size 0.2rem
        line-height 0.3rem
        clear both
        overflow hidden    
    .hd-gz
        width 94%
        margin: 0 auto
        li
            color #d1c27e
            font-size: 0.2rem
            line-height: 0.36rem
            list-style-type circle
            padding-bottom: 0.08rem            
@import "mob"

