@media screen and (min-width: 750px) {
    html {
        font-size: 100px;
    }
}
@media screen and (max-width: 1400px) and (min-width: 761px)
    .yhhd
        .hd-banner
            padding-top 40%
            font-size 0.24rem
        .hd-wrap
            width 90%
        .hd-tit
            width 100%
        .hd-titl
            width 30%
            margin-right 5%
        .hd-titm
            width 30%
            font-size: 0.36rem
        .hd-titr
            width 30%
    .yhhd
        .hd-banner
            width 100%
            padding-top 60%
            font-size 0.24rem
        .hd-wrap
            width 100%
        .hd-tit
            width 100%
            
        .hd-titl
            width 30%
        .hd-titm
            width 30%
        .hd-titr
            width  30%
        .hd-con
            padding 0.3rem 0rem 0.3rem 0rem
            margin-bottom 0.7rem
        .hd-ulCon
            width 13.5%
        .hd-ucw1
            width 17.5%
        .hd-ucw7
            width 15%

        .hd-codt
            padding 0.1rem 0.2rem
            p               
                b
                    max-width 22%
                span
                    max-width 78%
        .hd-gz
            li
                margin-left 0.3rem