link(rel='stylesheet', href='https://xpj.imagebei.com/hd/hd_xima/css/app.css')
.yhhd
    .hd-banner
    .container
        .hd-wrap
            .hd-box
                .hd-item
                    h2 活动介绍
                    .hd-single
                        .img
                        span 即日起在本站注册会员，
                        br
                        span 成功充值有效投注1元起就能
                        sapn.bigfont 享受8‰的返水
                        span 无上限
                    .hd-single
                        .img
                        span 当天(00:00:00--23:59:59)
                        br
                        span 有效投注额会在
                        span.bigfont 第二天三点前
                        span 自动洗码，自动添加到帐
            .rules
                h1
                    span 活动规则
                ul
                    li 所有优惠以人民币（CNY）为结算货币，以北京时间（UTC+8）为计时区间。（彩票不参与反水优惠）
                    li 每一位玩家，每一地址，每一个电子邮箱地址，每一电话号码，相同的支付方式（相同借记卡/信用卡/银行账户）以及IP地址只能享有一次优惠；若有会员重复申请账号行为，公司保留取消或收回会员优惠彩金权利。
                    li 澳门新葡京的所有优惠特为玩家而设，如发现任何团体或个人以不诚实的方式套取红利或暗藏任何威胁，滥用公司优惠等行为，公司保留冻结，取消该团体或个人账户及账户余额的权利。
                    li 若会员对活动有争议时，为确保双方利益，杜绝身份盗用行为，威尼斯人有权要求会员向我们提供充足有效的身份证明文件，用以确认是否享有该优惠的资质。
                    li 当参与优惠会员末能完全遵守、或违反、或滥用任何有限公司优惠或推广的条款，又或我们有任何证据有任何团队或个人投下一连串的关联赌注，及造成无论赛果怎样都可以确保可以从该存款红利或其他推广活动提供的优惠获利，威尼斯人保留权利向此团队或个人停止、取消优惠或索回已支付的全部优惠红利。此外，威尼斯人亦保留权利向这些客户扣取相当于优惠红利价值的行政费用，以补偿我们的行政成本。
                    li 澳门新葡京保留对活动的最终解释权；以及在无通知的情况下修改、终止活动的权利；适用于所有优惠

