link(rel='stylesheet', href='https://xpj.imagebei.com/hd/hd_lukuansong/css/app.css')
.yhhd
    .hd-banner
        div.hd-banTit
            div.hd-banRight 单笔存款最高 
                span 9999.99 
                | 元现金红利
    .hd-wbg
        .hd-wrap
            .hd-tit 活动时间：长期有效
            .hd-tit 活动对象：澳门新葡京所有会员
            ul.hd-pul
                li
                    p.hd-imgL
                    p NO.1 
                        span 为感谢全球客户 
                        | 对澳门新葡京的厚爱，新葡京官网长期回馈银行卡存款客户。
                li
                    p.hd-imgR
                    p NO.2 网银转账/支付宝转账/微信转账/手机银行转账/ATM转账/柜台转账至我司指定的银行卡，即可获赠存款金额的 
                        span 1% 
                        | 的现金红利。
            h2.hd-tgz 优惠规则与条款
            ul.hd-gz
                li 	不限次数，存1000元，系统送1%即为10元，到账金额为1010元。
                li 	存款到账后无需申请系统自动发放至账号内；
                li 	赠送彩金需存款+彩金1倍流水取款；
                li 	如发现任何人/团体/组织以不诚实的方式合伙套取红利或其他利益，账号及所有户内余额将被取消；
                li 	澳门新葡京网将保留对本次活动的修改、订正和最终解释权。