link(rel='stylesheet', href='https://xpj.imagebei.com/hd/hd_qipaidushen/css/app.css')
.yhhd
    .hd-banner
    .hd-wbg
        .hd-wrap
            .hd-tit 活动介绍
            hr.hd-hr
            .hd-con
                div.hd-codt
                    p <b>活动对象：</b> <span>澳门新葡京所有会员</span>
                    p <b>活动时间：</b> <span>即日起</span>
                    p <b>活动内容：</b> <span>澳门新葡京开启全民棋牌，畅玩棋牌，挑战成就，<em>“至尊赌神”，赢取34009元大奖。</em></span>
                div.hd-conw
                    ul.hd-ulCon.hd-ucw1
                        li 成就
                        li 新手
                        li 初出茅庐
                        li 小试牛刀
                        li 游刃有余
                        li 大显身手
                        li 名动天下
                        li 笑傲江湖
                        li 一代赌侠
                        li 一代赌圣
                        li 一代赌王
                        li 至尊赌神
                    ul.hd-ulCon.hd-ucw2
                        li 累计有效投注额
                        li 1千+
                        li 5千+
                        li 1万+
                        li 5万+
                        li 10万+
                        li 50万+
                        li 100万+
                        li 300万+
                        li 800万+
                        li 1000万+
                        li 5000万+
                    ul.hd-ulCon.hd-ucw3
                        li 可获彩金
                        li 9元
                        li 19元
                        li 29元
                        li 59元
                        li 99元
                        li 199元
                        li 599元
                        li 999元
                        li 1999元
                        li 9999元
                        li 19999元
                    ul.hd-ulCon.hd-ucw4
                        li 累计可获奖金
                        li 9元
                        li 28元
                        li 57元
                        li 116元
                        li 215元
                        li 414元
                        li 1013元
                        li 2012元
                        li 4011元
                        li 14010元
                        li 34009元
                    ul.hd-ulCon.hd-ucw5
                        li 提款要求
                        li 一<br>倍<br>流<br>水<br>即<br>可<br>出<br>款
                    ul.hd-ulCon.hd-ucw6
                        li 申请方式
                        li 联<br>系<br>在<br>线<br>客<br>服<br>/<br>专<br>员<br>申<br>请
                div.hd-crem
                    p 注：每次获得一个成就，即可获得相对应的成就奖金，获取成就“至尊赌神”将获得所有成就最高奖金34009元。
                    p 例如：会员于北京时间01月01日到01月 2日进游戏棋牌游戏累积有效投注额100万，期间未申请成就奖金，则可获得累积成就奖金为（9+19+29+59+199+599）=914元成就奖金（会员已经申请过的成就奖金不计算在累积奖金中！）
            .hd-tit 活动规则
            hr.hd-hr
            .hd-con01
                ul.hd-gz
                    li 每关奖金只可申请一次，达到更高关卡可再次申请。
                    li 该优惠仅限棋牌游戏。
                    li 通关可获得全部奖金。
                    li 闯关成功后即可联系在线客服申请，最迟在每个月底最后一天申请，逾期视为自动放弃优惠。
                    li 参与该优惠，即可表示您同意优惠规则与条款。
                    li 澳门新葡京保留最终解释权。