link(rel='stylesheet', href='https://xpj.imagebei.com/hd/hd_tiyusanchongli/css/app.css')
.yhhd
    .hd-banner
        div.hd-banTit
            p 活动对像：澳门新葡京所有会员
            p 活动时间：即日起(结束时间以官网公告为准)
    .hd-wbg
        .hd-wrap
            .hd-tit 八千分洗码福利
                i.hd-titbg1
            .hd-con1 有效会员即可享受<strong>八千分</strong>洗码福利
            hr.hd-hr
            .hd-tit 新赛季鸿运礼金
                i.hd-titbg2
            .hd-con2 活动期间新老用户在体育竞技每周有效投注额达到5千及以上者皆可申领鸿运礼金，如未领取将视作自动放弃
            ul.hd-clis3
                li
                    p.hd-clTit 每周有效投注额<br>
                        b 5000+
                    div.hd-circleD
                        div.hd-circleS
                            p 可领礼金 <br> 
                                b 59
                    p * 流水要求3倍
                li
                    p.hd-clTit 每周有效投注额<br>
                        b 10000+
                    div.hd-circleD
                        div.hd-circleS
                            p 可领礼金 <br> 
                                b 99
                    p * 流水要求3倍
                li
                    p.hd-clTit 每周有效投注额<br>
                        b 50000+
                    div.hd-circleD
                        div.hd-circleS
                            p 可领礼金 <br> 
                                b 199
                    p * 流水要求3倍
                li
                    p.hd-clTit 每周有效投注额<br>
                        b 200000+
                    div.hd-circleD
                        div.hd-circleS
                            p 可领礼金 <br> 
                                b 599
                    p * 流水要求3倍
                li
                    p.hd-clTit 每周有效投注额<br>
                        b 500000+
                    div.hd-circleD
                        div.hd-circleS
                            p 可领礼金 <br> 
                                b 999
                    p * 流水要求3倍
                li
                    p.hd-clTit 每周有效投注额<br>
                        b 1000000+
                    div.hd-circleD
                        div.hd-circleS
                            p 可领礼金 <br> 
                                b 1199
                    p * 流水要求3倍
                li
                    p.hd-clTit 每周有效投注额<br>
                        b 2000000+
                    div.hd-circleD
                        div.hd-circleS
                            p 可领礼金 <br> 
                                b 1999
                    p * 流水要求3倍
            hr.hd-hr
            .hd-tit 新赛季救援礼金
                i.hd-titbg3
            .hd-con2 投注体育赛事，月负盈利达到1000以上，即可返还10%救援金，<strong>最高9999元</strong>
                div.hd-conw
                    ul.hd-ulCon.hd-ucw1
                        li 负赢利
                        li 1000+
                    ul.hd-ulCon.hd-ucw2
                        li 赠送比例
                        li 10%
                    ul.hd-ulCon.hd-ucw3
                        li 流水要求
                        li 3倍流水
                    ul.hd-ulCon.hd-ucw4
                        li 游戏平台
                        li 仅限体育平台
                div.hd-crem * 计算方式：月负盈利=月存款总额-总提款金额-账户余额
        .hd-wrap
            div.hd-tit
                | 优惠规则与条款
            ul.hd-ruleList
                li 	此活动不能与首存优惠等网站其他优惠共享，同时“三重礼”中的有效投注额不参与洗码优惠。（举例说明：如A用户某一月存款20000，提款2000，账户余额1000，月负盈利即为20000-2000-1000=1700）;
                li 	活动期间内，新会员达到条件即可联系在线客服或专员领取一次：领取成功后，礼金将在24小时内添加，二重、三重礼中礼金3倍流水可取款;
                li 	“一重礼、二重礼中的有效投注额为一个存款成功后当天算起，“三重礼”中的有效投注额为一个自然月统计周期，北京时间 每月1号00:00-至每月末当天23:59，达到要求玩家可在次月前7天内申请领取礼金，逾期视为自动放弃;
                li 	任何和局、取消、作废、退款、赔率低于：欧洲盘1.5、香港盘0.5、马来盘0.5、印尼盘-2.00、美式盘-200的投注和赔率高于：香港盘2.75、欧洲盘3.75及已经使用“提前兑现”功能的注单，不计入有效投注额；电竞及棋牌不适用此次活动;
                li 	对于各种非正常投注，如对冲等行为，一经发现将取消获奖资格，并保留进一步处理的权利。