@charset "UTF-8"
html
    font-size 100px
body
    margin 0
    font-size 14px
    font-family -apple-system, BlinkMacSystemFont, "PingFang SC","Helvetica Neue",STHeiti,"Microsoft Yahei",Tahoma,Simsun,sans-serif;
* {
    padding: 0
    margin: 0
}
.yhhd
    max-width 100%
    margin 0 auto 0
    background #232228
    .hd-banner
        width 100%
        background url("../img/banner.jpg") center center no-repeat 
        background-size cover
        height 0
        padding-top 17%
        padding-bottom 27%
        font-size 0.24rem
        position relative
    .hd-btop
        background url("../img/tbg1.png") center center no-repeat 
        background-size cover
        width 590px
        position absolute
        top 10%
        right 20%
        padding-bottom 259px
        padding-top 50px
        height 0
        padding-left 3%
        border-radius 0.1rem

    .hd-btop-f1
        font-size 0.44rem
        line-height 0.6rem
        letter-spacing 3px
        color #fff
        margin-bottom 0.05rem
    .hd-btop-f2
        font-size 0.6rem
        line-height 0.7rem
        letter-spacing 6px
        color #fff
        b
            color #c4a06f
            padding 0 3px
    .hd-btop-f3
            font-size 0.3rem
            line-height 0.5rem
            letter-spacing 3px
            text-align center
            margin 5% 0 0 6%
            background: linear-gradient(to bottom, #f1e8dc, #bda17c)
            -webkit-background-clip: text
            color: transparent
            border-top 1px solid #c4a06f
            border-bottom 1px solid #c4a06f
            width 68%
    .hd-bbot
        position absolute
        top 55%
        right 18%
        background url("../img/tbg2.png") center center no-repeat 
        background-size contain
        width 1200px
        padding-bottom 250px
        padding-top 50px
        height 0
    .hd-bbot-f1
        font-size: .3rem;
        line-height: .4rem;
        letter-spacing: 3px;
        text-align: left;
        color: #a58358;
        padding-left: 700px;

    .hd-bbot-f2
        font-size 0.2rem
        line-height 0.24rem
        color #a58358
        padding-top 3px
        text-align left
        padding-left: 700px;
    .hd-bbot-f3
        font-size 0.3rem
        line-height 0.24rem
        color #f34b40
        padding-top 3px
        text-align left
        padding-left: 700px;
    .hd-bbot-f4
        font-size 0.2rem
        line-height 0.42rem
        text-align left
        color #ffffff
        margin-top 20px
        background #f34b40
        width 300px
        text-align center
        border-radius 0.2rem
        display block
        cursor pointer
        margin-left: 700px;
    .hd-wbg
       background url("../img/footer.jpg") center top repeat
       padding-bottom 1.6rem
       padding-top 0.6rem
    .hd-wrap
        width 1200px
        margin 0px auto
    .hd-ulTit
        width 100%
        overflow hidden
        background #fff2d5
        color #ad2a32
        border-top 4px #c7ab86 solid
        border-left 1px #c7ab86 dotted
        border-right 1px #c7ab86 dotted
        border-bottom 2px #c7ab86 dotted
        padding 0px
        li
            float left
            list-style none
            text-align center
            line-height 0.8rem
            font-size: 0.2rem 
            width 16%
            border-right 1px #c7ab86 dottedhd-banRight
            &:nth-child(4)
                width 32%
            &:last-child
                border-right none

    .hd-ulCon
        width 100%
        overflow hidden
        color #c7b093
        border-left 1px #c7ab86 dotted
        border-right 1px #c7ab86 dotted
        border-bottom 2px #c7ab86 dotted
        padding 0px
        li
            float left
            list-style none
            text-align center
            line-height 0.8rem
            font-size: 0.2rem 
            width 16%
            border-right 1px #c7ab86 dotted
            &:nth-child(4)
                width 32%
                line-height: 0.4rem
                font-size: 0.2rem
                text-align: center
                padding 0.1rem 0
                p
                    text-align: center
                    line-height: 0.3rem
            .hd-yqrm
                color #f34b40
                font-size: 0.19rem
            &:last-child
                border-right none
    .hd-tgz
        margin 1.2rem  auto 0.6rem
        text-align: center
        color #af916a
        background url("../img/line.png") center center no-repeat 
        background-size cover
        font-size 0.28rem
        clear both
    .hd-gz
        width 85%
        margin: 0 auto
        li
            list-style circle
            color #af916a
            font-size: 0.24rem
            line-height: 0.48rem
            list-style-type disc
    .hd-clear
        clear both
            
@import "mob"

