@media only screen and (max-width:1024px)
    html
        font-size 70px
@media only screen and (max-width:480px)
    html
        font-size 50px
@media screen and (max-width: 1300px) and (min-width: 1090px)
    .yhhd
        .hd-wrap 
            width: 80%
        .hd-wbg 
            padding-bottom: 1rem
            padding-top: .2rem
        .hd-btop
            width 33%
            top 3%
            right 20%
            padding-bottom 15%
            padding-top 2%
            height 0
            padding-left 3%
            border-radius 0.1rem
        .hd-btop-f1
            font-size 0.26rem
            line-height 0.3rem
            letter-spacing 1px
            margin-bottom 0rem
            padding-top 0.05rem
        .hd-btop-f2
            font-size 0.35rem
            line-height 0.5rem
            letter-spacing 2px
            b
                padding 0 2px
        .hd-btop-f3 
            font-size: .3rem;
            margin: 2% 0 0 1%;
            width: 88%;
        .hd-bbot
            width:350px;
            padding-bottom: 80px
            padding-top: 80px;
            padding-left: 450px
            top: 46%;
        .hd-bbot-f1
            font-size 0.26rem
            line-height 0.32rem
            letter-spacing 1px
        .hd-bbot-f2
            font-size 0.16rem
            line-height 0.2rem
            padding-top 1.5%
        .hd-bbot-f3
            font-size 0.23rem
            line-height 0.2rem
            padding-top 2.5%
        .hd-bbot-f4
            font-size 0.16rem
            line-height 0.36rem
            margin-top 3%
            margin-left 20%
@media screen and (max-width: 1091px) and (min-width: 761px)
    .yhhd
        .hd-wrap 
            width: 90%
        .hd-wbg 
            padding-bottom: 1rem
            padding-top: .2rem
        .hd-banner
            padding-bottom 40%
        .hd-btop
            width 300px
            top 2%
            right 10%
            padding-bottom 150px
            padding-top 26px
            height 0
            padding-left 70px
            border-radius 0.1rem
        .hd-btop-f1
            font-size 0.18rem
            line-height 0.3rem
            letter-spacing 0px
            margin-bottom 0rem
            padding-top 0rem
        .hd-btop-f2
            font-size 0.3rem
            line-height 0.4rem
            letter-spacing 1px
            b
                padding 0 2px
        .hd-btop-f3 
            font-size: .2rem;
            margin: 3% 0 0 0%;
            width: 88%;
            line-height: .3rem;
        .hd-bbot
            top 40%
            right 5%
            width 700px
            padding-bottom 150px
            padding-top 40px
        .hd-bbot-f1
            letter-spacing 1px
            font-size 0.26rem
            line-height 0.32rem
            padding-left: 300px;
        .hd-bbot-f2
            font-size 0.16rem
            line-height 0.2rem
            color #f34b40
            padding-top 1.5%
            padding-left: 300px;
        .hd-bbot-f3
            font-size 0.23rem
            line-height 0.2rem
            padding-top 2.5%
            padding-left: 300px;
        .hd-bbot-f4
            font-size 0.16rem
            line-height 0.36rem
            margin-top 3%
            width 200px
            margin-left: 350px;
       .hd-tgz
            margin 0.6rem  auto 0.3rem
       .hd-gz
            li
                font-size: 0.2rem
@media screen and (max-width: 760px) and (min-width: 0px)
    .yhhd
        .hd-wrap 
            width: 100%
        .hd-wbg 
            padding-bottom: 1rem
            padding-top: .2rem
        .hd-banner
            width 100%
            background url("../img/banner.jpg") center center no-repeat 
            background-size cover
            height 0
            padding-top 20%
            padding-bottom 50%
            font-size 0.24rem
            position relative
        .hd-btop
            width 50%
            top 2%
            right 10%
            padding-bottom 22%
            padding-top 4%
            height 0
            padding-left 5%
            border-radius 0.1rem
        .hd-btop-f1
            font-size 0.18rem
            line-height 0.36rem
            letter-spacing 0px
            margin-bottom 0rem
            padding-top 0rem
        .hd-btop-f2
            font-size 0.4rem
            line-height 0.5rem
            letter-spacing 1px
            b
                padding 0 2px
        .hd-btop-f3 
            font-size: .26rem;
            margin: 5% 0 0 0%;
            width: 88%;
            line-height: .4rem;
        .hd-bbot
            top 44%
            right 4%
            width 80%
            padding 0.5rem
            height 2rem  
            background rgba(0,0,0,0.7)
            border-radius 0.1rem
        .hd-bbot-f1
            font-size: 0.32rem
            line-height: 0.32rem
            letter-spacing: 1px
            padding-left: 0px;
        .hd-bbot-f2
            font-size 0.24rem
            line-height 0.4rem
            color #a58358
            padding-top 1.5%
            padding-left: 0px;
        .hd-bbot-f3
            font-size 0.32rem
            line-height 0.2rem
            color #f34b40
            padding-top 2.5%
            text-align left
            padding-left:0px;
        .hd-bbot-f4
            font-size 0.24rem
            line-height 0.5rem
            margin-top 3%
            width 2rem
            margin-left: 0px;
        .hd-ulTit
                width 18%
                float left
                border-top 1px #c7ab86 dotted
                border-bottom none
                border-left none
                border-right none
                li
                    float none
                    width 100%
                    border-right none
                    border-bottom 1px #c7ab86 dotted
                    &:nth-child(4)
                        width 100%
                    &:last-child
                        border-right none

        .hd-ulCon
            width 40%
            float left
            border-top 1px #c7ab86 dotted
            border-left none
            border-bottom none
            li
                float none
                width 100%
                line-height 0.8rem
                font-size: 0.2rem 
                border-left none
                border-bottom 1px #c7ab86 dotted
                &:nth-child(4)
                    width 100%
                    padding 0.1rem 0
        .hd-tgz
            margin 0.5rem auto 0.3rem