link(rel='stylesheet', href='https://xpj.imagebei.com/hd/hd_jjhl/css/app.css')
.yhhd
    .hd-banner
    .hd-wbg
        .hd-wrap
            .hd-tit 
                i.hd-titl
                span.hd-titm 活动内容
                i.hd-titr
            .hd-con
                div.hd-codt
                    p <b>活动对象：</b> <span>澳门新葡京有效会员</span>
                    p <b>活动时间：</b> <span>长期有效</span>
                    p <b>活动内容：</b> <span>玩家通过有效投注额晋升星级，晋级后可获得相应晋级礼金，<em>最高9999元礼金等着您。</em></span>
                div.hd-conw
                    ul.hd-ulCon.hd-ucw1
                        li 星级
                        li 晋级礼金
                    ul.hd-ulCon
                        li 一星级
                        li ￥9
                    ul.hd-ulCon
                        li 二星级
                        li ￥99
                    ul.hd-ulCon
                        li 三星级
                        li ￥299
                    ul.hd-ulCon
                        li 四星级
                        li ￥599
                    ul.hd-ulCon
                        li 五星级
                        li ￥999
                    ul.hd-ulCon.hd-ucw7
                        li VIP
                        li ￥9999
            .hd-tit 
                i.hd-titl
                span.hd-titm 活动须知
                i.hd-titr
            .hd-con
                ul.hd-gz
                    li 每周一系统将会自动统计玩家有效投注额及星级情况，晋升礼金将于24:00前添加到个人账户。
                    li 若升星后未及时申请礼金，视为放弃本星级晋升礼金（例：会员A从1星级晋升为2星级，再次晋升为3星级，将视为放弃2星级晋升礼金）。所获礼金的一倍流水即可提款，产生流水可享有洗码优惠。
                    li 任何用户或团体以不正常的方式所进行的投注，如无风险投注、对赌行为、或欺骗等方式，澳门新葡京公平游戏管理部保留权利在不通知的情况下冻结或关闭相关账户，并不退还款项，用户将会被列入黑名单。
                    li 澳门新葡京保留对该活动的最终解释权。