link(rel='stylesheet', href='https://xpj.imagebei.com/hd/hd_yaoqinghaoyou/css/app.css?v12')
.yhhd
    .hd-banners
    .hd-wrap
        .hd-tit
            h1 活动内容
            p.p1 
                span 一“荐”双赢，携手向“钱”进~通过专属二维码或专属推荐码提供让好友注册，存款并达到相应条件后，您与好友皆可获得丰厚礼金！
                span.span1 活动长期有效
            .img-box
                .img.img1
                .img.img2
                .img.img3
            .cot-box
                h1 一重送&nbsp;&nbsp;会员好友见面礼
                p.p1
                    span 活动期间，凡是网站3星级以上人会员每个月被您邀请的前5位好友注册后都会获得一笔
                    span.span1 199-999元随机注册礼金
                    span 名额有限,先到先得!                        
                h1 二重送&nbsp;&nbsp;推荐奖金无限
                p.p1
                    span 每周推荐人将获得所有好友（被推荐人）周有效投注额无上限返水奖励！
                    span.span1 无上限返水奖励
                table.tab1(border="1" cellpadding="0" cellspacing="0")
                    tr
                        td(colspan='2') 被推荐人
                        td 推荐人获得周洗码比例
                    tr
                        td 直属
                        td 周有效投注额
                        td 1‰
                    tr
                        td 团队
                        td 周有效投注额
                        td 0.1‰
                    tr
                        td(colspan='3')
                            .p2 注：北京时间每周一24点前结算入账，计算周期为上周的周一00:00-周日23:59。
                h1 三重送&nbsp;&nbsp;推荐好友红包送不停
                p.p1
                    span 每周推荐人将获得所有好友（被推荐人）周有效投注额无上限返水奖励！
                    span.span1 无上限返水奖励
                table.tab2(border="1" cellpadding="0" cellspacing="0")
                    tr
                        td 
                            p 累计存款
                            p.p2 (开户起的30天内)
                        td 被推荐人流水要求
                        td 被推荐人礼金
                        td 推荐人礼金
                        td 礼金上限
                        td 取款限制
                    tr
                        td 5000+
                        td(rowspan="8") 存款金额的3倍（客服将在达到流水要求后的48小时内拨打绑定电话核实并派发礼金，绑定电话无法联系将视为自动放弃优惠）
                        td.d ￥199
                        td.d ￥199
                        td(rowspan="8") 每人最高只能享受99999元
                        td(rowspan="8") 推荐好友礼金需达8倍流水（不可带入BBIN电子游戏及棋牌室游戏）
                    tr
                        td 10000+
                        td.d ￥399
                        td.d ￥399
                    tr
                        td 50000+
                        td.d ￥1999
                        td.d ￥1999
                    tr
                        td 100000+
                        td.d ￥2999
                        td.d ￥2999
                    tr
                        td 300000+
                        td.d ￥11999
                        td.d ￥11999
                    tr
                        td 500000+
                        td.d ￥19999
                        td.d ￥19999
                    tr
                        td 1000000+
                        td.d ￥39999
                        td.d ￥39999
                    tr
                        td 3000000+
                        td.d ￥99999
                        td.d ￥99999


        .hd-tit
            h1 活动规则

            p
                span.left 1.
                span.right &nbsp;&nbsp;一重送优惠需要在会员注册后完善银行卡、姓名、手机号等真实资料后，奖金会在24小时添加到会员账户，礼金取款需要10倍流水出款，未存款之前产生的流水不参与洗码返水赠送。
            p
                span.left 2.
                span.right &nbsp;&nbsp;一个会员只能被推荐一次，被推荐人只容许有一个推荐人，被推荐人之前从未在澳门新葡京娱乐注册过任何游戏账号，若一个会员被多次推荐视为无效。
            p
                span.left 3.
                span.right &nbsp;&nbsp;三重礼优惠推荐人开户要早于被推荐人，推荐人必须是1星级以上会员，被推荐人可通过推荐人提供的的二维码或专属推荐码打开网站注册，注册成功后30天内累计存款最低5000元并满足3倍有效投注额，客服将在48小时内拨打绑定电话核实并添加礼金到推荐人和被推荐人游戏账号中，绑定电话无法联系将视为自动放弃优惠。（注册超过30天的存款部分将无法享受“友”奖励优惠）。
            p
                span.left 4.
                span.right &nbsp;&nbsp;已在网站使用同姓名、同电话、同银行卡资料、同IP地址注册过游戏账号的会员无法享受此优惠。
            p
                span.left 5.
                span.right &nbsp;&nbsp;本活动意在答谢真诚推荐朋友的玩家，如发现任何人、团队、组织以任何方式合伙套利，账号会客将被取消，为避免文字理解差异，澳门新葡京保留对此活动的最终解释权。








