@charset "UTF-8"
html {
    font-size: 13.33vw;
    height: 100%;
    padding: 0
    margin: 0
}
* {
    padding: 0
    margin: 0
}
.yhhd
    max-width 100%
    margin 0 auto 0
    background #fff2eb
    padding-bottom 1.5rem
    .hd-banner
        width 100%
        background url("../img/banner.jpg?v12") center center no-repeat
        background-size cover
        height 0
        padding-top 20%
        padding-bottom 20%
        font-size 0.24rem
        position relative
    .hd-wbg
       background #fff2eb
    .hd-wrap
        width 1200px
        margin 0rem auto 0
        position relative
    .hd-con
        padding 0.5rem
        margin-bottom 0.3rem
    .hd-bobg
        background #ffffff  
        border 2px solid #f97255
        border-radius: 0.5rem 
    .hd-tit
        width 1200px
        overflow hidden
    .hd-titl
       width 40%
       float left
       height 0.8rem 
    .hd-titm
        width 2rem
        margin 0 0rem -.4rem .2rem
        position relative
        line-height: 0.8rem 
        font-size: 0.36rem
        color #f97255
        text-align: center
        float left
    .hd-titr
        width auto
        float left
        height 0.8rem
        text-align: left 
    .hd-sq
        width 14px
        height 14px
        background #f97255
        display: block
        transform rotate(45deg)
        margin-top:0.3rem
        margin-left:0.2rem
    .hd-sp1
        float right
        transform: rotate(45deg)
        width 5px
        height 5px
        margin-top:0.35rem
    .hd-sp2
        float right
        width 9px
        height 9px
        margin-top:0.33rem
    .hd-sp3
        float right
        transform: rotate(45deg)
    .hd-conw
        overflow hidden
    .hd-ulCon
        width 31%
        overflow hidden
        float left
        li
            list-style none
            text-align center
            line-height 1rem
            font-size: 0.2rem 
            border 1px #ffcfb4 solid
            color #f97b60
            background #ffffff  
            border-radius: 0 1rem 1rem 0   
            i
                width 0.67rem
                height 0.67rem
                background-size contain
                display: block
                margin 0.4rem auto 0
    .hd-ba
        border-radius: 1rem!important
    .hd-step1
        background url("../img/stp1.png") center center no-repeat
    .hd-step2
        background url("../img/stp2.png") center center no-repeat
    .hd-step3
        background url("../img/stp3.png") center center no-repeat
    .hd-step4
        background url("../img/stp4.png") center center no-repeat
    .hd-c1
        position relative
        z-index: 3
    .hd-c2
        position relative
        z-index: 2
        margin-left -1rem
    .hd-c3
        position relative
        z-index: 1
        margin-left -1rem
    .hd-c4
        position relative
        z-index: 0
        margin-left -1rem
        width 34%
        li
            padding-left 0.7rem!important
    .hd-gz
        width 94%
        margin: 0 auto
        li
            color #f97255
            font-size: 0.2rem
            line-height: 0.36rem
            list-style-type decimal
            padding-bottom: 0.08rem            
@import "mob"

