@charset "UTF-8"
html
    font-size 100px
body
    margin 0
    font-size 14px
    font-family -apple-system, BlinkMacSystemFont, "PingFang SC","Helvetica Neue",STHeiti,"Microsoft Yahei",Tahoma,Simsun,sans-serif;
* {
    padding: 0
    margin: 0
}
.yhhd
    max-width 100%
    margin 0 auto 0
    background #fbf8eb
    color #000000
    .hd-banner
        width 100%
        background url("../img/banner.jpg") center center no-repeat 
        background-size cover
        height 0
        padding-top 19%
        padding-bottom 35%
        font-size 0.24rem
        position relative
    .hd-time
        font-size 0.36rem
        line-height 0.6rem
        border-top 1px solid #e12524
        border-bottom 1px solid #e12524
        color #e12524
        text-align center
        width 45%
        margin 0px auto 0.4rem
    .hd-szW
        width 40%
        margin 0rem auto
        overflow hidden
    .hd-szL
        width 44%
        float left 
        padding-top 7%
        padding-bottom 25.6% 
        background url("../img/timebg.png") center center no-repeat 
        background-size cover
        position relative
        p
            font-size 0.24rem
            color #f9f005
            text-align center
            line-height 0.6rem
            position absolute
            width 100%
        h2
            font-size 0.36rem
            color #a30000
            text-align center
            line-height 1.6rem
            position absolute
            bottom 0
            width 100%
    .hd-szR
        width 44%
        float right 
        padding-top 7%
        padding-bottom 25.6% 
        background url("../img/timebg.png") center center no-repeat 
        background-size cover
        position relative
        p
            font-size 0.24rem
            color #f9f005
            text-align center
            line-height 0.5rem
            position absolute
            width 100%
        h2
            font-size 0.36rem
            color #a30000
            text-align center
            line-height 1.6rem
            position absolute
            bottom 0
            width 100%
   .hd-mt22 
        margin-top -2.2rem
        margin-bottom 1rem
   .hd-wrap
        width 1120px
        background rgba(255,255,255,0.7)
        font-size 0.24rem
        margin-left auto
        margin-right auto
        z-index 1
        position relative
        border-radius 0.3rem
        padding 0.2rem 0.4rem
        h2
            background #df1717
            color #fff
            font-size 0.28rem
            padding 0.1rem 0.15rem
            border-radius 0.3rem
            text-align center
            margin-top -0.5rem
        .hd-w30
            width 30%
        .hd-w20
            width 20%
        .hd-con
            font-size 0.2rem
            line-height 0.4rem
            margin-top 0.2rem
            color #131313
            b
                color #a30000
        .hd-cul
            width 100%
            margin-top 0.2rem
            li
                border 0.05rem solid #df1717
                border-radius 0.8rem
                list-style none
                height 1.1rem
                background #a30000
                margin-bottom 0.2rem
            .hd-num
                float left
                height 1rem
                line-height 1rem
                border-radius 1rem
                background #df1717
                color #fff
                width 10%
                text-align center
                margin-left -0.01rem
                font-size 0.6rem
            .hd-m
                float left
                width 60%
                margin-left 8%
            .hd-mt
                border-bottom 1px solid #ffffff
                margin-top 0.03rem
                padding-bottom 0.06rem
                overflow hidden
                padding-top 0.05rem
            .hd-mtl
                font-size 0.3rem
                color #fef200
                font-weight bold
                width 55%
                float left
            .hd-mtr
                font-size 0.22rem
                color #fff
                float left
                padding-top 0.05rem
            .hd-mb
                overflow hidden
                padding-top 0.05rem
            .hd-mbl
                font-size 0.2rem
                color #fff
                width 55%
                float left
            .hd-mbr
                font-size 0.2rem
                color #fff
                float left
            .hd-r
                float right
                width 10%
                height 1rem
                background url("../img/gif.png") center center no-repeat 
                background-size auto 80%
                margin-right 3%
        
        .hd-gzul
            width 90%
            margin 10px auto
            li
                list-style decimal
                line-height 0.24rem
                font-size 0.18rem
                padding 0.05rem 0 0px 0
                color #131313
@import "mob"
    

