//link(rel='stylesheet', href='https://xpj.imagebei.com/hd/hd_hby/css/app.css')
//link(rel='stylesheet', href='http://192.168.50.122/hd_hby/css/app.css')
.yhhd#yhhd-hby
    ul.hdHby#hd_hdHby
    .hd-banner
        .hd-wrap
            .hd-tl
                .hd-ren
            .hd-tr 
                .hd-tit 
                    h2 活动介绍
                    b
                .hd-rem 澳门新葡京每天百万现金红包雨回馈全网新老会员，即日起，当日存款会员，次日15：00-18：00即可抢红包！笔笔红包大额度，单个红包最高额度999元，先抢一个亿~在规定的时间内未领取.将视为自动放弃。
                .hd-tcn 活动对象：澳门新葡京全球会员
                .hd-tcn 活动时间：即日起-2019年3月1日
                .hd-butLogin#hd-butLogin 请先登入
            .hd-clear
    .hd-wbg
        ul.hd-ftit#hd-ftit
            li.hd-cur#hd-fli1 派奖记录
            li#hd-fli2 详细规则
        .hd-wrap.hd-hid#hd-rule
            ul.hd-gz
                li 凡澳门新葡京新老会员当日负利额10+，次日24点前联系在线客服或专员申请，2小时内到账，最高申请无上限，逾期作废;
                li 本活动仅限电子游戏，其他平台游戏无法享有本优惠;
                li 每位玩家、每一住址、每一邮箱地址、每一电话号码、相同支付方式(相同借记卡/信用卡/银行账户姓名及号码) 及IP地址，除优惠特别说明外，系统视为一人，同一优惠每人仅限享受一次；
                li 特惠游戏定义: 桌面游戏、牌类游戏、视频扑克、刮刮卡游戏，多旋转老虎机，及返奖率98.5%以上的老虎机游戏，为特惠游戏，特惠游戏不计算有效投注额，不享受本优惠；
                li 我们不接受任何机器投注或通过恶意掉线、多窗口投注游戏等非法套取优惠行为，一经发现，取款时将扣回优惠和盈利部分，情节严重者 会暂时或永久性取消或封锁其账户;由于文字可能会存在歧义或其他可能会误解的情况，网站可在任何时候终止或修改所有活动规则及内容；
                li 为避免文字差异，澳门新葡京保留对本活动的最终解释权；以及在无通知的情况下修改、终止活动的权利。
        .hd-wrap.hd-mw#hd-record
//script(src='https://xpj.imagebei.com/hd/hd_hby/js/index.js?v52')
script(src='../js/index.js?v52')