@charset "UTF-8"
html
    font-size 100px
body
    margin 0
    font-size 14px
    font-family -apple-system, BlinkMacSystemFont, "PingFang SC","Helvetica Neue",STHeiti,"Microsoft Yahei",Tahoma,Simsun,sans-serif;
* {
    padding: 0
    margin: 0
}
.yhhd
    max-width 100%
    margin 0 auto 0
    background #f5f5f5
    .hd-banner
        width 100%
        background url("../img/banner.jpg") center center no-repeat 
        background-size cover
        height 0
        padding-top 19%
        padding-bottom 9%
        font-size 0.24rem
        position relative
    .hd-but
        background #fd2731
        background-size cover
        color #fff
        width 12%
        border-radius 0.05rem
        text-align center
        float: right
        margin-right 26%
        line-height: 0.5rem
        cursor pointer
    .hd-wbg
       background url("../img/footer.jpg") center top repeat
       padding-bottom 1.6rem
       padding-top 0.6rem
    .hd-wrap
        width 1200px
        margin 0px auto
    .hd-tit
        font-size: 0.3rem
        text-align: center
        width 2.5rem
        height 0.5rem
        line-height 0.5rem
        background #a41f23
        color #ffffff
        border-radius 0.1rem 0.1rem 0px 0px
    .hd-hr
        margin-bottom 0.1rem
        color #a41f23
        border: #a41f23 2px solid;
    .hd-con
        padding 0.3rem
        background #ffffff
        margin-bottom 0.5rem
        overflow hidden
    .hd-codt
        font-size 0.2rem
        color #333333
        line-height 0.34rem
        p
            padding-bottom 0.1rem
            overflow hidden
            b
                float left
                max-width 15%
            span
                float left
                max-width 85%
    .hd-con01
        padding 0.3rem
        background #ffffff
        margin-bottom 0.5rem
    .hd-conw
        border-left 1px #dddddd solid
        border-right 1px #dddddd solid
        border-bottom 1px #dddddd solid
        overflow hidden
    .hd-ulCon
        width 25%
        float left
        overflow hidden
        color #c7b093
        li
            list-style none
            text-align center
            line-height 0.7rem
            font-size: 0.2rem 
            border-right 1px #dddddd solid
            border-top 1px #dddddd solid
            color #333333
            &:first-child
                background #6c1c1e
                color #ffffff
                font-weight bold
    .hd-ucw2
        width 30%
    .hd-ucw3
        li
            color #fd2731
    .hd-ucw4
        width 20%
        li
            border-right none
            &:nth-child(2)
                line-height 0.36rem
                padding 1.5rem 0 0px
    .hd-gz
        width 94%
        margin: 0 auto
        li
            list-style circle
            color #333333
            font-size: 0.2rem
            line-height: 0.36rem
            list-style-type decimal
            padding-bottom: 0.08rem
@import "mob"

