@media only screen and (max-width:1024px)
    html
        font-size 70px
@media only screen and (max-width:480px)
    html
        font-size 50px
@media screen and (max-width: 1300px) and (min-width: 761px)
    .yhhd
        .hd-wrap
            width 90%
        .hd-banner
            padding-top 24%
            padding-bottom 14%
        .hd-but
            width 17%
            margin-right 20%
@media screen and (max-width: 761px) and (min-width: 0px)
    .yhhd
        .hd-but
            width 26%
            margin-right 10%
            font-size: .32rem;
            line-height 0.6rem
        .hd-banner
            padding-top 32%
            padding-bottom 15%
        .hd-wbg
            padding-top 0px
        .hd-wrap
            width 100%
        .hd-hr
            border: #a41f23 1px solid;
        .hd-con
            padding 0rem
        .hd-codt
            padding 0.1rem 0.15rem
            font-size 0.24rem
            p
                padding-bottom 0.1rem
                overflow hidden
                b
                    float left
                    max-width 20%
                span
                    float left
                    max-width 80%
        .hd-gz
            width 88%