link(rel='stylesheet', href='https://xpj.imagebei.com/hd/hd_appxz/css/app.css?v14')
.yhhd
    .hd-banner
    .hd-wbg
        .hd-wrap
            .hd-tit 
                span.hd-titl
                    i.hd-sq.hd-sp3
                    i.hd-sq.hd-sp2
                    i.hd-sq.hd-sp1
                span.hd-titm 领取流程
                span.hd-titr
                    i.hd-sq.hd-sp1
                    i.hd-sq.hd-sp2
                    i.hd-sq.hd-sp3
            .hd-con
                div.hd-conw
                    ul.hd-ulCon.hd-c1
                        li.hd-ba 
                            i.hd-step1
                            p 下载手机APP
                    ul.hd-ulCon.hd-c2
                        li 
                            i.hd-step2
                            p 登录账号
                    ul.hd-ulCon.hd-c3
                        li 
                            i.hd-step3
                            p 完善个人资料
                    ul.hd-ulCon.hd-c4
                        li 
                            i.hd-step4
                            p 联系客服/微信专员申请
            .hd-tit 
                span.hd-titl
                    i.hd-sq.hd-sp3
                    i.hd-sq.hd-sp2
                    i.hd-sq.hd-sp1
                span.hd-titm 活动规则
                span.hd-titr
                    i.hd-sq.hd-sp1
                    i.hd-sq.hd-sp2
                    i.hd-sq.hd-sp3
            .hd-con.hd-bobg
                ul.hd-gz
                    li 所有真钱会员，7日内完善真实信息、绑定有效手机号码及银行卡后，下载app后即可联系在线客服或微信专员申请礼金即可；
                    li 每个游戏账号、每台手机只可领取一次礼金，礼金不可进行彩票游戏，礼金产生有效投注额不参与洗码优惠；
                    li 会员注册必须真实有效，需绑定真实的姓名和银行账号，注册后不能修改账户内相关资料；每位会员绑定的开户银行卡地址、手机号码归属地和登入IP需为同一地区，若发现重复申请礼金则扣除赠送礼金以及产生的盈利；
                    li 礼金3倍流水出款；
                    li 为避免文字理解差异，澳门新葡京保留本活动最终解释权。。