@charset "UTF-8"
html {
    font-size: 13.33vw;
    height: 100%;
    padding: 0
    margin: 0
}
* {
    padding: 0
    margin: 0
}
.yhhd
    max-width 100%
    margin 0 auto 0
    background #21190c
    .hd-banner
        width 100%
        background url("../img/banner.jpg") center center no-repeat 
        background-size cover
        height 0
        padding-top 16.5%
        padding-bottom 16%
    .hd-banTit
        width 36%
        font-size 0.24rem
        margin-left 22%
        margin-top 3%
    .hd-banRight
        width 100%
        background url("../img/arm.png") center center no-repeat 
        background-size 100% 100%
        padding-top 4%
        padding-bottom 4%
        font-size 0.28rem
        text-align center
        color #131313
        span
            padding 0 1px
            color #c72200
            font-weight: bold
    .hd-wbg
       background url("../img/footer.jpg") center top repeat
       padding-bottom 1.6rem
    .hd-wrap
        width 1200px
        margin 0px auto
    .hd-tit
        width 52%
        margin 0 auto 3%
        font-size 0.28rem
        text-align: center
        border 2px solid #a77a43
        border-radius 1rem
        line-height: 0.6rem
        color #ffc458
    .hd-pul
        width 100%
        overflow hidden
        li
            width 48%
            float left
            list-style none
            padding-right 2%
            color #f1c65c
            text-align center
            line-height 0.48rem
            font-size: 0.24rem 
            &:nth-child(2)
                padding-left 2%
                padding-right 0
            .hd-imgL
                width 90%
                padding-top 25%
                padding-bottom 25%
                background url("../img/p1.png") center center no-repeat 
                background-size cover
            .hd-imgR
                width 90%
                padding-top 25%
                padding-bottom 25%
                background url("../img/p2.png") center center no-repeat 
                background-size cover
            span
                color #c72200
    .hd-tgz
        margin 1.2rem  auto 0.6rem
        text-align: center
        color #a7823b
        background url("../img/line.png") center center no-repeat 
        background-size cover
        font-size 0.28rem
        clear both
    .hd-gz
        width 85%
        margin: 0 auto
        li
            list-style circle
            color #a7823b
            font-size: 0.24rem
            line-height: 0.48rem
            list-style-type disc
               
@import "mob"

