@media screen and (min-width: 750px) {
    html {
        font-size: 100px;
    }
}


@media screen and (max-width: 1300px) and (min-width: 761px)
    .yhhd
        .hd-wrap
            width 90%
        .hd-banTit
            width 65%
            font-size: .2rem;
            margin-left: 20%;
        .hd-tit
            width 80%

@media screen and (max-width: 760px) and (min-width: 0px)
        .yhhd
            .hd-banner
                padding-top 25%
                padding-bottom 20%
            .hd-banTit
                width: 75%;
                margin-left: 13%
            .hd-tit
                width 80%
            .hd-wrap
                width 100%
            .hd-pul
                width 100%
                li
                    width 84%
                    float none
                    margin 0.1rem auto 0
                    text-align left
                    list-style disc
                    padding-right: 0px;
                    &:nth-child(2) 
                        padding-left: 0px;
                .hd-imgL
                    display none
                .hd-imgR
                    display none
            .hd-tgz 
                margin: 0.6rem auto .3rem;