@charset "UTF-8"
html
    font-size 100px
body
    margin 0
    font-size 14px
    font-family -apple-system, BlinkMacSystemFont, "PingFang SC","Helvetica Neue",STHeiti,"Microsoft Yahei",Tahoma,Simsun,sans-serif;
* {
    padding: 0
    margin: 0
}
.yhhd
    max-width 100%
    margin 0 auto 0
    background #f4c108
    padding-bottom 0.5rem
    position relative
    background url("../img/footerl.jpg") left bottom no-repeat #f4c108
    .hd-fpl
        width 4rem
        background url("../img/footerr.jpg") right center no-repeat #f4c108
        height 4.6rem
        position: absolute
        right 0rem
        top 12rem  
    .hd-banner
        width 100%
        background url("../img/banner.jpg") center center no-repeat #1c1354
        background-size cover
        height 0
        padding-top 30%
        padding-bottom 13.5%
        position relative
        z-index 0
    .hd-banrem
        color #4a88dd
        width 60%
        text-align center
        margin 0px auto
        line-height: 0.53rem
        font-size 0.3rem
    .hd-wbg
        background #1c1354
        height 2rem
    .hd-wrap
        clear: both
        width 1200px
        margin 0px auto 0.5rem
        background #be181f
        position relative
        z-index: 1
    .hd-tit
        text-align: center
        width 0.35rem
        line-height 0.4rem
        background #fdcb0b
        color #be181f
        float left
        margin 0px 0.5rem
        font-size: 0.3rem
        padding 0.2rem 0.2rem 0.6rem
        overflow: hidden
        position relative
    .hd-tpb0
        position absolute
        bottom 0px
        left 0px
    .hd-bgw
        background #ffffff
    .hd-pb5
        padding 0.7rem 0 0.5rem
        position relative
        margin-top 1rem
    .hd-con
        margin 0.5rem 0
        overflow hidden
        width 80%
        float left
    .hd-codb
        font-size 0.2rem
        color #333333
        text-align: center
        line-height 0.6rem
    .hd-codt
        font-size 0.2rem
        color #ffffff
        text-align: center
        line-height 0.6rem
    .hd-con01
        padding 0.3rem
        background #ffffff
        margin-bottom 0.4rem
        width 90%
        margin: 0px auto
    .hd-conw
        border-bottom 1px #dddddd solid
        overflow hidden
        background #ffffff
    .hd-mt1
        margin-top -1rem
    .hd-ulCon
        width 25%
        float left
        overflow hidden
        color #c7b093
        li
            list-style none
            text-align center
            line-height 0.7rem
            font-size: 0.2rem 
            border-right 1px #dddddd solid
            border-top 1px #dddddd solid
            color #333333
            &:first-child
                border-top none
                background #fdcb0b
                color #333333
                font-weight bold
    .hd-ucw2
        li
            color #fd2731
            font-weight: bold
    .hd-ucw3
        li
            &:nth-child(2)
                line-height 1.4rem
    .hd-ucw4
        li
            border-right none
            &:nth-child(2)
                line-height 1.4rem
    .hd-btit
        color #333333
        font-size: 0.3rem
        line-height: 0.46rem
        padding-top: 0.2rem
        font-weight bold
    .hd-gz
        width 94%
        margin: 0 auto
        li
            list-style circle
            color #333333
            font-size: 0.2rem
            line-height: 0.36rem
            list-style-type decimal
            padding-bottom: 0.08rem
        .hd-sq
            list-style-type circle
    .clear
        clear both
    .hd-tup
        width:0;
        height:0;
        border-width:0 0.36rem 0.36rem;
        border-style:solid;
        border-color:transparent transparent #be181f;/*透明 透明  灰*/
        margin:0px auto;
    .hd-tup1
        margin: 0px auto;
        border-top: 0.4rem solid #fdcb0b;
        border-right: 0.4rem solid transparent;
        border-bottom: 0.4rem solid #fdcb0b;
        border-left: 0.4rem solid transparent;
        height 0px;
        position: absolute
        left 50%
        margin-left -1.5rem
        top -0.5rem
        width 3.5rem
        z-index 0
    .hd-tit01
        text-align: center
        width 3.8rem
        height 0.8rem
        line-height 0.5rem
        color #be181f
        font-size: 0.4rem
        padding 0 0.2rem
        line-height: 0.7rem
        position: absolute
        left 50%
        margin-left -1.5rem
        top -0.5rem
        z-index 1
@import "mob"

