@media only screen and (max-width:1024px)
    html
        font-size 70px
@media only screen and (max-width:480px)
    html
        font-size 50px
@media screen and (max-width: 1500px) and (min-width: 1301px)
    .yhhd
        .hd-banner
            padding-top 36%
            padding-bottom 18%
@media screen and (max-width: 1300px) and (min-width: 1001px)
    .yhhd
        .hd-banner
            padding-top 46%
            padding-bottom 22%
        .hd-banrem
            font-size 0.26rem
            line-height: 0.4rem
            width 80%
        .hd-wrap
            width 90%
        .hd-con
            width 76%
@media screen and (max-width: 1000px) and (min-width: 761px)
    .yhhd
        .hd-banner
            padding-top 50%
            padding-bottom 24%
        .hd-banrem
            font-size 0.26rem
            line-height: 0.4rem
            width 80%
        .hd-wrap
            width 90%
        .hd-con
            width 76%
        .hd-tit
            text-align: center
            width 0.7rem
            line-height 0.34rem
            margin 0px 0.3rem
            font-size: 0.24rem
            padding 0.2rem 0.2rem 0.6rem
            overflow: hidden
            position relative
        .hd-tit01
            width: 3.6rem;
            height: .6rem;
            font-size: .3rem;
            line-height: .6rem;
            margin-left: -1.9rem;
            top -0.3rem
        .hd-tup1
            margin: 0px auto;
            border-top: 0.3rem solid #fdcb0b;
            border-right: 0.3rem solid transparent;
            border-bottom: 0.3rem solid #fdcb0b;
            border-left: 0.3rem solid transparent;
            height 0px;
            position: absolute
            left 50%
            margin-left -1.6rem;
            top -0.3rem
        .hd-ulCon
            width 25%
            li
                line-height 0.5rem
                font-size: 0.18rem 
                &:first-child
                    border-top none
                    background #fdcb0b
                    color #333333
                    font-weight bold
        .hd-ucw2
            li
                color #fd2731
                font-weight: bold
        .hd-ucw3
            li
                &:nth-child(2)
                    line-height 1rem
        .hd-ucw4
            li
                border-right none
                &:nth-child(2)
                    line-height 1rem
@media screen and (max-width: 760px) and (min-width: 0px)
    .yhhd
        background #f4c108
        .hd-fpl
            background none
        .hd-banner
            padding-top 60%
            padding-bottom 28%
        .hd-banrem
            font-size 0.26rem
            line-height: 0.4rem
            width 80%
        .hd-wbg
            background #1c1354
            height 1rem
            overflow hidden
        .hd-wrap
            width 100%
        .hd-con
            width 86%
        .hd-tit
            text-align: center
            width 0.35rem
            line-height 0.34rem
            margin 0px 0.2rem 0px 0px
            font-size: 15px
            padding 0.2rem 0.2rem 0.6rem
            overflow: hidden
            position relative
        .hd-tit01
            width: 3.6rem;
            height: .6rem;
            font-size: .34rem;
            line-height: .6rem;
            margin-left: -1.6rem;
            top -0.3rem
        .hd-tup1
            margin: 0px auto;
            border-top: 0.3rem solid #fdcb0b;
            border-right: 0.3rem solid transparent;
            border-bottom: 0.3rem solid #fdcb0b;
            border-left: 0.3rem solid transparent;
            height 0px;
            position: absolute
            left 50%
            margin-left -1.6rem;
            top -0.3rem
        .hd-ulCon
            width 25%
            li
                line-height 0.5rem
                font-size: 0.18rem 
                &:first-child
                    border-top none
                    background #fdcb0b
                    color #333333
                    font-weight bold
        .hd-ucw1
            width 30%
        .hd-ucw2
            li
                color #fd2731
                font-weight: bold
        .hd-ucw3
            width 23%
            li
                &:nth-child(2)
                    line-height 1rem
        .hd-ucw4
            width 22%
            li
                border-right none
                &:nth-child(2)
                    line-height 1rem