@media only screen and (max-width:1024px)
    html
        font-size 70px
@media screen and (max-width: 1400px) and (min-width: 1001px)
    .yhhd
        .hd-banner
            padding-top 40%
            font-size 0.24rem
        .hd-wrap
            width 90%
        .hd-gz
            li
                font-size: 0.16rem
                line-height: 0.26rem
@media screen and (max-width: 1000px) and (min-width: 761px)
    .yhhd
        .hd-banner
            padding-top 47.55%
            font-size 0.24rem
        .hd-wrap
            width 90%
        .hd-gz
            li
                font-size: 0.16rem
                line-height: 0.26rem
@media screen and (max-width: 760px) and (min-width: 0px)
    .yhhd
        .hd-banner
            width 100%
            padding-top 60%
            font-size 0.24rem
            background url("../img/banner_sj.jpg") center top no-repeat 
            background-size cover
        .hd-wrap
            width 100%
            margin: -1.2rem auto 
        .hd-con 
            padding: 0.7rem 0rem .3rem;
        .hd-codt
            padding 0 0.2rem 0.2rem
            p
                b
                    max-width 24%
                span
                    max-width 76%
                em
                    font-style normal
                    color #db1515
        .hd-pcHid
            display block
        .hd-ucw1
            width 16%
        .hd-ucw2
            width 27%
        .hd-ucw3
            width 17%
            li
                color #db1515
        .hd-ucw4
            width 24%
            li
                color #db1515
        .hd-ucw5
            display: none
        .hd-ucw6
            width 16%
            li
                border-right none
                &:nth-child(2)
                    line-height: 0.26rem
                    padding-top 2.8rem  
        .hd-tit
            width 40%
            padding 22% 0 0 22%
        .hd-tit01
            width 40%
            padding 22% 0 0 22%
        .hd-crem
            padding 0.1rem 0.15rem
        .hd-gz
            width 96%
            li
                font-size: 0.16rem
                line-height: 0.32rem