link(rel='stylesheet', href='https://xpj.imagebei.com/hd/hd_jifen/css/app.css')
.yhhd
    .hd-banner
    .hd-wbg
        .hd-wrap
            .hd-tit1 积分有什么用
            .hd-con1
                | <b>只要在新葡京进行娱乐，<span class="hd-mhh">就会累计会员积分。</span></b><br class="hd-mhd">没有积分只有单一的进行游戏，拥有积分并累积到一定的额度后，便可享有豪车、豪礼、性感美女，种类繁多任君选择，<br>带给您不一样的游戏盛宴。
            .hd-con2w
                .hd-con2.hd-pors1 
                    .hd-ctit2 积分超级对
                    | 新葡京进行娱乐活动的会员，<span class="hd-mhh">均可按照有效投注额</span>
                    | <br class="hd-mhd">（打码量）获得积分；<br>积分长期累计不清零，<span class="hd-mhh">使用积分可兑换商城内各类豪礼！</span>
                    | <span class="hd-mhh">会员投注成功后，</span>
                    | <span class="hd-mhh">当天有效投注额将于次日北京时间19:00按照比例转换为积分，</span>
                    | 并自动转入会员账户；<br>还在等什么，赶快行动吧！
                .hd-con2.hd-pors2 
                    .hd-ctit2 积分兑换比例
                    h2 仅限真人视讯、电子游戏，体育赛事
                    | 会员当天有效投注额（打码量）<span class="hd-mhh">总额的 
                    span.hd-fsp 万分之二
                    | 转换为积分。</span><br class="hd-mhh"><span class="hd-mhh">例如：</span>会员A进行累计有效投注额
                    span.hd-fsp 10000
                    | 元，<br>则可获得
                    span.hd-fsp 2
                    | 个积分<span class="hd-mhh">（即：有效投注额
                    span.hd-fsp 5000
                    | 元
                    span.hd-fsp 1
                    | 个积分；</span><br class="hd-mhd">有效投注额
                    span.hd-fsp 100
                    | 元，
                    span.hd-fsp 0.02
                    | 个积分）
                .hd-con2.hd-pors3  
                    .hd-ctit2 积分注意事项
                    ul
                        li 会员参加积分兑换活动后，如兑换的商品发生退货，需将商品一并退还。虚拟物品不予退货。
                        li 积分兑换商品成功以后，积分自动清除，不影响客户投注娱乐。
                        li 兑换实物必须填写有效的地址，姓名，手机号码。
                        li 兑换实物信息核实正确以后，将在48小时内发货，具体到货日期请依据物流时间为准。
                        li 兑换核实信息期间请您保持电话畅通，否则发货信息错误将不承担任何责任。
                .hd-clear






