link(rel='stylesheet', href='https://xpj.imagebei.com/hd/hd_yingxinchun/css/app.css')
.yhhd
    .hd-banner
         div.hd-bcon 
            b 活动时间：2019/1/25至时间待定
    div.hd-m1
    div.hd-m2
    div.hd-m3
    div.hd-m4
    .hd-wrap
        .hd-wtit 赠送标准：按照周一、周二总存款赠送，周三领取，过期无效！
        hr.hd-hr
        div.hd-ttl
        div.hd-ttr
        div.hd-tbl
        div.hd-tbr
        div.hd-conw
            ul.hd-ulCon.hd-ucw1
                li 金额
                li 200+
                li 500+
                li 1000+
                li 5000+
                li 10000+
                li 50000+
            ul.hd-ulCon.hd-ucw2
                li 赠送
                li 19元
                li 39元
                li 99元
                li 109元
                li 199元
                li 399元
            ul.hd-ulCon.hd-ucw3
                li 条件
                li 一倍流水

    .hd-wrap
        .hd-wtit 活动规则
        hr.hd-hr
        div.hd-ttl
        div.hd-ttr
        div.hd-tbl
        div.hd-tbr
        ul.hd-rlue
            li 会员在星期一，星期二使用任意充值方式连续充值两天，在星期三可咨询“微信专员或在线客服”领取，若有任意一天未达到要求，则不符合申请。
            li 每位玩家、同地址、同一电子邮箱地址、同一电话号码、相同支付方式（相同借记卡/信用卡/银行账户）及IP地址只能享有一次优惠；若会员有重复账号行为，公司保留取消或收回会员优惠彩金的权利。
            li 本站的所有优惠特为玩家而设，如发现任何团体或个人，以不诚实方式套取红利或任何威胁、滥用公司优惠等 行为，公司保留冻结、取消该团体或个人账户及账户结余的权利。
            li 若会员对活动有争议时，为保留双方利益，社绝身份盗用行为，本站有权要求会员向我们提供充足有效的证件 ,用以确认是否享有该优惠的资质。
            li 本站保留对活动的最终解释权；以及在无通知的情况下修改、终止活动的权利；适用于所有的优惠
          