@media only screen and (max-width:1024px)
    html
        font-size 70px
@media only screen and (max-width:480px)
    html
        font-size 50px
@media screen and (max-width: 1400px) and (min-width: 961px)
    .yhhd
        .hd-wrap
            width 90%
            padding 2%
        .hd-ren
            width 120%
 @media screen and (max-width: 961px) and (min-width: 0px)
    .yhhd
        .hdHby
            li
                top:-0.8rem;
                width 0.5rem;
                height: 0.8rem
                span
                    max-width 100%
                    display: block;
                    height: 0.8rem
        .hd-banner
            background url("../img/bgtm.jpg") center top no-repeat 
            background-size 100% auto
            padding-top 70%
            padding-bottom 60%
        .hd-wrap
            margin 0 auto 0.5rem
            overflow hidden
            width 90%!important
            padding 0.2rem 3% 0.4rem!important
        .hd-tr
            width 100%
            float none
        .hd-tl
            float none
        .hd-ren
            width 120%
            display: none
        .hd-ulCon
            width 30%
        .hd-ucw1
            width 48%
        .hd-ucw3
            width 22%
        .hd-ftit
            width 5rem
            margin 1.2rem auto -0.25rem
            background #ffffff
            border-radius 0.5rem
            box-shadow: 0px 0px 10px #dedecd
            padding 0.05rem
            display block
            overflow hidden
            position relative
            z-index 2
            li
                border-radius 0.6rem
                line-height: 0.6rem
                font-size: 0.3rem
        .hd-tit
            h2
                color #333333
                font-size: 0.4rem!important
        .hd-but
            font-size: 0.3rem
            border-radius: 0.4rem
            line-height: 0.66rem
            width 2.5rem
            margin 0.3rem auto 0
        .hd-butLogin
            width 3.8rem
            line-height: 0.6rem
            border-radius: 0.35rem
            margin 0.3rem auto 0;
            font-size: 0.3rem
        .hby-mo
            top: -10px;
            width: 20px
            height 58px
        .totWin
            padding-top:4rem;
            padding-bottom:5rem;
        .hb-open
            color #fff
            width 1.2rem;
            height 0.4rem
            line-height: 0.4rem