@charset "UTF-8"
html {
    font-size: 13.33vw;
    height: 100%;
    padding: 0
    margin: 0
}
* {
    padding: 0
    margin: 0
}
.yhhd
    max-width 100%
    margin 0 auto
    background: #ffff;
    padding-bottom: 0.6rem;
    .hd-banner
        width 100%
        background url("../img/banner.jpg") center center no-repeat 
        background-size cover
        height 0
        padding-top 24%
        padding-bottom 25%
    .hd-wbg
       background url("../img/footer.jpg") center top no-repeat 
    .hd-wrap
        width 1200px
        margin 0px auto
    .hd-tit1
        width 48%
        margin 4% auto 3%
        color #be4b06
        font-size: 0.4rem
        line-height: 0.8rem
        border-radius 0.4rem
        background: linear-gradient(#fff800, #ebac04);
        box-shadow:2px 5px 0px #e0d7d2;
        text-align: center
    .hd-con1
        width 78%
        margin 0px auto 70px
        text-align: center
        font-size: 0.24rem
        line-height 0.48rem
        letter-spacing 0.1rem
        color #c54900
        b
            color #682d05
    .hd-con2w
        position relative
    .hd-con2
        background #fff
        border-radius 20px
        padding 5% 3% 3% 3%
        border 0.06rem solid #844df3
        min-height 10vh
        width 50%
        box-shadow: 0.06rem 0.06rem 0.06rem #c5bebc;
        position relative
        font-size: 0.2rem
        line-height 0.36rem
        color #bb3f09
        text-align center
        position relative            

        h2
            font-size: 0.28rem
            padding 0 0 0.2rem 0
            margin 0
            color #661ab0
        .hd-fsp 
            color #661ab0
            font-weight bold
            padding 0p 0.1rem
        ul
            padding 0 0 0 0.4rem
            margin 0
            li
                list-style decimal
                text-align: left
                font-size: 0.2rem
                line-height: 0.36rem
                letter-spacing 0.02rem
        .hd-ctit2
            width 72%
            position absolute
            left 15%
            top -50px
            color #ffffff
            font-size: 0.4rem
            line-height: 0.8rem
            border-radius 0.4rem
            background: linear-gradient(to bottom right, #8952f7 0%,  #5fc8fe 100%);
            box-shadow:2px 5px 0px #e0d7d2;
    .hd-pors1
        display block
        float left
        margin-left 1.2rem
        padding-bottom: 0.9rem
    .hd-pors2
        display block
        float right
        margin-top -30px
        margin-right 0px
        width 45%
    .hd-pors3
        display block
        float left
        margin-top -30px
        margin-left 0px
        width 45%
    .hd-clear
        clear both
               
@import "mob"

