@media screen and (min-width: 750px) {
    html {
        font-size: 100px;
    }
}


@media screen and (max-width: 1300px) and (min-width: 761px)
    .yhhd
        .hd-wrap
            width 90%
        .hd-con1
            width 80%
            letter-spacing: 0rem
        .hd-con2
            margin-top 50px
            margin-left auto
            margin-right auto
            width 80%
            padding-top 9%
            .hd-ctit2
                top -30px
        .hd-pors1
            float none
            margin-left auto
            margin-right auto
        .hd-pors2
            float none
            margin-left auto
            margin-right auto
        .hd-pors3
            float none
            margin-left auto
            margin-right auto

@media screen and (max-width: 760px) and (min-width: 0px)
     .yhhd
        .hd-wrap
            width 96%
        .hd-con1
            width 100%
            letter-spacing: 0rem
            margin 0px auto 10px
        .hd-con2
            margin-top 50px
            margin-left auto
            margin-right auto
            width 90%
            padding-top 9%
            h2
                font-size: 0.24rem
            .hd-ctit2
                top -30px
        .hd-pors1
            float none
            margin-left auto
            margin-right auto
        .hd-pors2
            float none
            margin-left auto
            margin-right auto
        .hd-pors3
            float none
            margin-left auto
            margin-right auto