//link(rel='stylesheet', href='https://xpj.imagebei.com/hd/hd_shuangxiangpao/css/app.css')
.yhhd
    .hd-banner
         .hd-banrem 澳门新葡京存款送大礼，最高赠送199元<br>活动对象：澳门新葡京所有有效会员<br>活动时间：即日起（结束时间以官网公告为准）
         .hd-fpl
    .hd-wbg
    .hd-wrap.hd-mt1
        .hd-tit 第一重优惠
            .hd-tup.hd-tpb0
        .hd-con.hd-bgw
            div.hd-conw
                ul.hd-ulCon.hd-ucw1
                    li 要求
                    li 单笔充值100+
                    li 单笔充值1000+
                ul.hd-ulCon.hd-ucw2
                    li 赠送金额
                    li 9元
                    li 99元
                ul.hd-ulCon.hd-ucw3
                    li 赠送时间
                    li 周五
                ul.hd-ulCon.hd-ucw4
                    li 所需流水
                    li 一倍流水
            div.hd-codb
                p 注：周一到周五累计存款200元
        div.clear
    .hd-wrap
        .hd-tit 第二重优惠
            .hd-tup.hd-tpb0
        .hd-con
            div.hd-codt
                p 周日使用快速入款即可申请10%优惠彩金，最高赠送199元
            div.hd-conw
                ul.hd-ulCon
                    li 要求
                    li 单笔充值100+
                ul.hd-ulCon.hd-ucw2
                    li 赠送金额
                    li 10%
                ul.hd-ulCon
                    li 赠送时间
                    li 周日
                ul.hd-ulCon
                    li 所需流水
                    li 一倍流水
        div.clear
    .hd-wrap.hd-pb5
        .hd-tit01 活动规则
        .hd-tup1
        .hd-con01
            .hd-btit 一重规则
            ul.hd-gz
                li 本活动需一周内累计充值金额达到200元，例：周一至周四有过200元充值记录，周五存1000元送99，一倍流水出款；
                li 本活动只适用于周五，且只能申请一次，请在周五24点前联系在线客服/专员申请，过期视为作废；
            .hd-btit 二重规则
            ul.hd-gz
                li 玩家可以周日联系在线客服或专员申请，每周只可申请一次；
                li 只限快速入款，且与银行卡充值优惠1%共享；
                li 彩票玩家不参与本优惠；
            .hd-btit 通用规则
            ul.hd-gz
                li.hd-sq 本优惠活动只针对娱乐性质的会员，如发现用户拥有超过一个账户，包括同一姓名，同一邮箱，同一/相似ip地址，同一银行卡，同一电脑等其他任何不正常投注行为，一经发现，澳门新葡京将保留冻结账户及账户金额的权利。
                li.hd-sq 此活动不与首存用户共享；
                li.hd-sq 澳门新葡京保留对本次活动的修正和最终解释权。