@charset "UTF-8"
html
    font-size 100px
body
    margin 0
    padding 0
    font-family -apple-system, BlinkMacSystemFont, "PingFang SC","Helvetica Neue",STHeiti,"Microsoft Yahei",Tahoma,Simsun,sans-serif;
    font-size: .2rem;
    color: #ccc;
* {
    padding: 0
    margin: 0
}
.yhhd
    max-width 100%
    margin 0 auto 0
    background #2e2d35
    .hd-banner
        width 100%
        background url("../img/banner.jpg") center center no-repeat 
        background-size cover
        height 0
        padding-top 25%
        font-size 0.24rem
        position relative
    .hd-wbg
       background url("../img/footer.jpg") center top no-repeat 
       width 100%
       padding-top 10%
       padding-bottom 60%
       background-size cover
       position relative
    .hd-wrap
        width 36%
        position absolute
        overflow: hidden;
        top 0
        font-size 0.24rem
        margin-left 39%
        color #ffffff
    .hd-tit
        background url("../img/line.png") center center no-repeat 
        background-size cover
        width 74%
        padding-top 0%
        padding-bottom 0%
        margin 0.4rem auto 0.2rem
        text-align center
        clear both
        overflow hidden
        b
            background: -webkit-gradient(linear,left top,left bottom,from(#a481df),to(#e8ddfc));
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            font-size 0.32rem
            text-shadow:2px 2px 0px rgba(255,255,255,0.1)
    .hd-rem
        text-align center
        color #ffffff
        padding-bottom 0.2rem
    .hd-tabw
        background #201b23
        border-radius 0.2rem
        padding 0.1rem 0.15rem
        overflow hidden
        margin-bottom 0.8rem
        color #e9e2fd
        h2
            font-size 0.2rem
            text-align center
            background #473952
            border-radius 0.05rem
            line-height 0.4rem
        p
            text-align center
            background #473952
            border-radius 0.05rem
            margin-top 0.05rem
            font-size 0.2rem
            line-height 0.36rem
        .hd-bgd
            background #352740
    .hd-tl-1
        width 20%
        float left
    .hd-tl-2
        width 27%
        margin-left 1%
        float left
        div
            background #2a2231
            border-radius 0.05rem
            text-align center
            margin-top 0.05rem
            height 1.5rem
            font-size 0.2rem
            padding-top 0.5rem
            line-height 0.3rem
    .hd-tl-3
        width 26%
        margin-left 1%
        float left
    .hd-tl-4
        width 24%
        margin-left 1%
        float left
        div
            background #2a2231
            border-radius 0.05rem
            text-align center
            margin-top 0.05rem
            height 2rem
            line-height 2rem
            font-size 0.2rem
    .hd-ruleList
        width 94%
        margin: 0 auto
        li
            list-style circle
            color #e9e2fd
            font-size: 0.2rem
            line-height: 0.36rem
            list-style-type decimal
            padding-bottom: 0.08rem
@import "mob"

