@media only screen and (max-width:1024px)
    html
        font-size 70px
@media only screen and (max-width:480px)
    html
        font-size 50px
@media screen and (max-width: 1700px) and (min-width: 1401px)
    .yhhd
        .hd-banner
            padding-top 33%
        .hd-wbg
            padding-top 10%
            padding-bottom 80.5%
            margin-top -1px
        .hd-wrap
            width 46%
            font-size 0.24rem
            margin-left 36%
        .hd-tit
            width 82%
@media screen and (max-width: 1400px) and (min-width: 961px)
    .yhhd
        .hd-banner
            padding-top 40%
        .hd-wbg
            padding-top 10%
            padding-bottom 100%
            margin-top -1px
        .hd-wrap
            width 54%
            font-size 0.24rem
            margin-left 32%
            
        .hd-tit
            width 82%
        .hd-rem
            font-size 0.16rem
        .hd-ruleList
            li
                font-size: 0.16rem
                line-height: 0.26rem
 @media screen and (max-width: 961px) and (min-width: 0px)
    .yhhd
        padding-bottom 200px
        .hd-banner
            background url(../img/banner_sj.jpg) center top no-repeat
            padding-top 53%
            background-size cover
        .hd-wbg
            padding-top 49%
            padding-bottom 99.6%
            margin-top -1px
            background url(../img/footer_sj.jpg) center top no-repeat
            background-size cover
        .hd-wrap
            width 90%
            margin-left 5%
            
        .hd-tit
            width 100%
            padding-top 0%
            padding-bottom 0%   
        .hd-tabw 
            margin-bottom: .4rem;
        .hd-rem
                font-size 0.24rem
                margin-top 0.1rem
                line-height: 0.4rem
            .hd-ruleList
                width 96%
                margin-top 0.2rem
                padding-left 4%
                li
                    font-size: 0.24rem
                    line-height: 0.38rem
                