@charset "UTF-8"
html {
    font-size: 13.33vw;
    height: 100%;
    padding: 0
    margin: 0
}
* {
    padding: 0
    margin: 0
}
.yhhd
    max-width 100%
    margin 0 auto 0
    background url("../img/fbg.jpg") center top repeat
    padding-bottom 0.5rem
    .hd-banner
        width 100%
        background url("../img/banner.jpg") center center no-repeat 
        background-size cover
        height 0
        padding-top 20%
        padding-bottom 60%
        font-size 0.24rem
    .hd-wbg
       width 100%
    .hd-wrap
        width 1200px
        margin -50% auto 0px
        height auto
    .hd-tit
        font-size: 0.3rem
        text-align: center
        width 2.5rem
        height 0.5rem
        line-height 0.5rem
        background #d22926
        color #ffffff
        border-radius 0.1rem 0.1rem 0px 0px
    .hd-hr
        margin-bottom 0.1rem
        color #d22926
        border: #d22926 2px solid;
    .hd-con
        padding 0.3rem
        background #ffffff
        margin-bottom 0.5rem
        overflow hidden
    .hd-codt
        font-size 0.2rem
        color #333333
        line-height 0.34rem
        p
            padding-bottom 0.1rem
            overflow hidden
            b
                float left
                max-width 15%
            span
                float left
                max-width 85%
                em
                    color #d22926
                    font-style normal
    .hd-con01
        padding 0.3rem
        background #ffffff
        margin-bottom 0.5rem
    .hd-gz
        width 94%
        margin: 0 auto
        li
            list-style circle
            color #333333
            font-size: 0.2rem
            line-height: 0.36rem
            list-style-type circle
            padding-bottom: 0.08rem
@import "mob"

