@media screen and (min-width: 750px) {
    html {
        font-size: 100px;
    }
}
@media screen and (max-width: 1300px) and (min-width: 761px)
    .yhhd
        .hd-wrap
            width 90%
        .hd-codt
            p
                b
                    max-width 20%
                span
                    max-width 80%
@media screen and (max-width: 761px) and (min-width: 0px)
    .yhhd
        .hd-wrap
            width 100%
            margin -120% auto 0px
        .hd-banner
            padding-top 10%
            padding-bottom 170%
        .hd-codt
            p
                b
                    max-width 24%
                span
                    max-width 76%